mixin foot(data)

    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='//unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js')
    script(src='%=static=%js/main%=hash=%%=min=%.js')