doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                    
                    // END page main

                    // START page sidebar
                    div.page__sidebar

                // END page sidebar

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals
    
        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts