doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.about)
    body.page(class="page--" + head.about.pageName)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.about)
            //- END page header

            // START page content
            div.page__content(id="content")
                // START page main
                main.page__main(id="main", role="main")
                    div.page__container
                        div.about.about--block
                            figure.about__img
                                img(src='%=static=%img/general/logo.png',
                                    srcset='%=static=%img/general/logo.png 1x, %=static=%img/general/logo@2x.png 2x',
                                    width="280px", height="215px", alt="Российского Союза спасателей - Московское городское региональное отделение")
                            div.about__content
                                b.page__title.about__title РОССОЮЗСПАС Москвы
                                div.about__text
                                    p.lead.about__lead Столичное подразделение Общероссийской общественной организации «Российский  союз спасателей»
                                    p Отделение объединяет усилия общества для решения проблем безопасности и спасения населения в чрезвычайных условиях. Команда столичного РОССОЮЗСПАСа участвует в операциях по защите и спасению людей, объектов и территорий в случае возникновения ЧС, стремится повысить роль спасателей в развитии аварийно-спасательного дела
                                div.about__meta
                                    div.row
                                        div.row__col.row__col--auto
                                            div.about__meta-item
                                                b.about__meta-title 
                                                    | 2010 год
                                                div.about__meta-text 
                                                    p начало работы
                                                        br 
                                                        | РОССОЮЗСПАС Москвы
                                        div.row__col.row__col--auto
                                            div.about__meta-item
                                                b.about__meta-title 
                                                    | > 1 000
                                                div.about__meta-text
                                                    p специальных мероприятий
                                                        br 
                                                        | проведено специалистами
                    div.about.about--detail
                        div.page__container
                            blockquote.about__blockquote.blockquote
                                b.blockquote__title Московское городское региональное отделение объединяет в своей структуре более 500 человек, включая студентов, пожарных, спасателей и кинологов
                                div.blockquote__text
                                    p.text.text--secondary Московские спасатели работают в тесной связке с коллегами из всех регионов России. При этом налажено тесное взаимодействие с ГУ МЧС России по Москве и Управлением гражданской защиты Москвы
                        div.about__content
                            div.page__container
                                div.about__card
                                    div.about__img
                                        img( src="%=static=%img/assets/programm/programm__img-2.png",
                                            srcset="%=static=%img/assets/programm/programm__img-2.png 1x, %=static=%img/assets/programm/programm__img-2@2x.png 2x", 
                                            alt="Знакомство с профессией для детей")
                                    b.about__title РОССОЮЗСПАС Москвы — это мощный ресурс продвижения знаний и навыков в области защиты населения и территорий от чрезвычайных ситуаций
                                    div.about__text 
                                        p При этом работа не ограничивается только теорией – каждый месяц добровольцы выезжают на десятки происшествий в Москве и за пределами столицы
                                        b.h3 Функционал:
                                        ul
                                            li обучение населения умению пользоваться коллективными и индивидуальными средствами защиты в условиях чрезвычайных ситуаций по программам «Школа Безопасности», «Первая Помощь» и «Первоначальная подготовка спасателей и пожарных»
                                            li продвижение знаний в области защиты населения и территорий от чрезвычайных ситуаций
                                            li работы по ликвидации последствий ЧС силами спасателей-добровольцев
                                            li формирование кадрового резерва для общественных и профессиональных пожарных и спасательных формирований Москвы
                                            li участие совместно с ГУ МЧС России по Москве и Управлением гражданской защиты Москвы в учениях, семинарах, конференциях по вопросам подготовки и реагирования на ЧС
                                            li разработка, тестирование и внедрение нового пожарно-спасательного оборудования и методик работы пожарно-спасательных подразделений
                            div.about__img.about__img--copter
                                img( src="%=static=%img/general/img-copter.png",
                                    srcset="%=static=%img/general/img-copter.png 1x, %=static=%img/general/img-copter@2x.png 2x", 
                                    alt="РОССОЮЗСПАС Москвы")
                        div.page__container
                            div.about__timeline
                                b.about__timeline-title.page__title Не словом, а делом
                                div.timeline
                                    div.timeline__item
                                        div.timeline__date 2012 г.
                                        div.timeline__content
                                            b.timeline__title Ликвидация последствий наводнения в городе Крымск.
                                            div.timeline__text 
                                                p Тогда в течение двух выпало больше, чем трёх-пятимесячная норма осадков. Число пострадавших — более 34 тысяч человек, погиб 171 человек. Российские специалисты присвоили данному наводнению статус выдающегося.
                                    div.timeline__item
                                        div.timeline__date 2013 г.
                                        div.timeline__content
                                            b.timeline__title Наводнение на Дальнем Востоке.
                                            div.timeline__text 
                                                p Бедствие таких масштабов произошло впервые за 115 лет наблюдений, и, согласно моделям, вероятность повторения такого события — один раз в 200—300 лет.
                                    div.timeline__item
                                        div.timeline__date 2014 г.
                                        div.timeline__content
                                            b.timeline__title Взрыв газа в доме на Кутузовском проспекте.
                                            div.timeline__text 
                                                p Трагедия унесла жизни пятерых человек. Жертв могло бы быть больше, если бы не слаженная работа спасателей.
                                        div.timeline__content
                                            b.timeline__title Крушение поезда в московском метро
                                            div.timeline__text 
                                                p В результате катастрофы, которая стала крупнейшей в истории метро в России по причинам техногенного характера, погибли 24 человека. Является крупнейшейтехногенной аварией в Москве.
                                    div.timeline__item
                                        div.timeline__date 2016 г.
                                        div.timeline__content
                                            b.timeline__title Уникальная операция по демонтажу неисправной канатной дороги в абхазском городе Ткуарчал
                                            div.timeline__text 
                                                p Работать пришлось на высоте до 50 метров, протяженность демонтируемых конструкций составила около одного километра. В ходе операции московские спасатели продемонстрировали методики работы со специализированным аварийно-спасательным оборудованием и обменялись опытом с абхазскими коллегами.
                            div.about__document
                                b.about__document-title.page__title Документы
                                div.document
                                    b.document__title
                                    div.document__row.row
                                        div.document__col.row__col
                                            a.document__body.document__body--img(href="./uploads/about/litsenziya_RSS_ASF.jpg", title="Скачать \"Лицензия РСС АСФ\"", download) 
                                                b.document__title Лицензия РСС АСФ
                                                span.document__meta jpeg 820 кб
                                        div.document__col.row__col
                                            a.document__body.document__body--img(href="./uploads/about/pasport_RSS_ASF.jpg", title="Скачать \"Паспорт РСС АСФ\"", download) 
                                                b.document__title Паспорт РСС АСФ
                                                span.document__meta jpeg 911 кб
                                        div.document__col.row__col
                                            a.document__body.document__body--img(href="./uploads/about/registratsiya_v_nalogovoy.jpg", title="Скачать \"Регистрация в налоговой\"", download) 
                                                b.document__title Регистрация в налоговой
                                                span.document__meta jpeg 659 кб
                                        div.document__col.row__col
                                            a.document__body.document__body--img(href="./uploads/about/registratsiya_nekommercheskoy_organizatsii.jpg", title="Скачать \"Регистрация некоммерческой организации\"", download) 
                                                b.document__title Регистрация некоммерческой организации
                                                span.document__meta jpeg 733 кб
                                        div.document__col.row__col
                                            a.document__body.document__body--img(href="./uploads/about/svidetelstvo_nalogovaya.jpg", title="Скачать \"Свидетельство налоговая\"", download) 
                                                b.document__title Свидетельство налоговая
                                                span.document__meta jpeg 832 кб
                                        div.document__col.row__col
                                            a.document__body.document__body--doc(href="./uploads/about/ustav_RSS.doc", title="Скачать \"Устав РСС\"", download) 
                                                b.document__title Устав РСС
                                                span.document__meta doc 211 кб

                // END page main

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals
    
        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts