doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        b.page__title Контакты
                        div.page__text 
                            p.lead Московское городское региональное отделение Общероссийской общественной организации «Российский союз спасателей».

                        // START contacts width map
                        div.contacts.contacts--detail
                            div.contacts__row.row
                                div.contacts__col.row__col
                                    div.contacts__content.card
                                        div.contacts__item.contacts__item--address
                                            b.contacts__title Юридический адрес
                                            div.contacts__text 119607, РФ, г. Москва, Мичуринский проспект, дом. 27, корп.1
                                        div.contacts__item.contacts__item--address
                                            b.contacts__title Фактический адрес
                                            div.contacts__text 123098, РФ, г. Москва, ул. Живописная дом. 28
                                        div.contacts__item.contacts__item--phone
                                            b.contacts__title Контактный телефон
                                            div.contacts__text
                                                a(href=contacts.phone.value)= contacts.phone.text
                                        div.contacts__item.contacts__item--email
                                            b.contacts__title E-mail
                                            div.contacts__text
                                                a(href=contacts.email.value)= contacts.email.text
                                        div.contacts__item
                                            b.contacts__title Руководитель
                                            div.contacts__text Председатель Совета Елисеев Александр Михайлович
                                        div.contacts__item.contacts__item--social
                                            b.contacts__title Мы в соцсетях
                                            div.contacts__nav
                                                a.contacts__link.contacts__link--vk(href="https://vk.com/club28054747", title="Мы в Вконтакте")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '24', iconHeight: '24'})
                                                a.contacts__link.contacts__link--facebook(href="https://www.facebook.com/ruor.msk.ru/", title="Мы в Facebook")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'icon icon-facebook', iconWidth: '24', iconHeight: '24'})
                                                a.contacts__link.contacts__link--twitter(href="https://twitter.com/RUOR_org", title="Мы в Twitter")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '24', iconHeight: '24'})
                                                a.contacts__link.contacts__link--instagram(href="#", title="")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})
                                                a.contacts__link.contacts__link--telegram(href="#", title="")
                                                    != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'icon icon-telegram', iconWidth: '24', iconHeight: '24'})
                                div.contacts__col.row__col
                                    div.contacts__map(id="contactsMap")
                        // END contacts width map

                        // START contacts document
                        div.contacts.contacts--document
                            b.contacts__title Образцы платежных поручений
                            div.document
                                div.document__row.row
                                    div.document__col.row__col
                                        a.document__body(href="./tmp/test.pdf", title="Скачать \"Призентация курса\"", download) 
                                            b.document__title Для физических лиц
                                            span.document__meta PDF 1,3 Mb
                                    div.document__col.row__col
                                        a.document__body(href="./tmp/test.pdf", title="Скачать \"Призентация курса\"", download) 
                                            b.document__title Для юридических лиц
                                            span.document__meta PDF 1,3 Mb
                        // END contacts document

                        // START contacts requisites
                        div.contacts.contacts--requisites
                            b.contacts__title Реквизиты
                            div.contacts__text
                                div.contacts__row.row
                                    div.contacts__col.row__col
                                        p.text.text--secondary
                                            | ИНН: 7743009408
                                            br
                                            | КПП: 774301001
                                    div.contacts__col.row__col
                                            | ОГРН: 1107799022583
                                            br
                                            | ОКВЭД: 91.33
                        // END contacts requisites

                        // START contacts text
                        div.contacts.contacts--text
                            div.contacts__text
                                p
                                    a(href="./privacy-policy" title="Прочитать политику безопсности") политикой безопастноти
                        // END contacts text 

                    // END page main

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START page scripts
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        // END page scripts
    
        // START common scripts
        +foot(data)
        // END common scripts