doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    include ../components/services/services.pug 

    include ../components/partners/partners.pug

    head
        +head(head.programms)
    body.page(class="page--" + head.defaults.pageName)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__triangle.page__triangle--copter
                img( src="%=static=%img/general/img-copter.png",
                    srcset="%=static=%img/general/img-copter.png 1x, %=static=%img/general/img-copter@2x.png 2x", 
                    alt="РОССОЮЗСПАС Москвы")
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                // START page main
                main.page__main(id="main", role="main")
                    // START logo block
                    section.block.block--logo
                        div.page__container
                            div.block__body
                                div.logo.logo--content
                                    figure.logo__img
                                        img(src='%=static=%img/general/logo.png',
                                            srcset='%=static=%img/general/logo.png 1x, %=static=%img/general/logo@2x.png 2x',
                                            width="60px", height="46px", alt="Российского Союза спасателей - Московское городское региональное отделение")
                                    div.logo__content
                                        div.logo__secondary
                                            | Официальный сайт
                                        div.logo__primary
                                            b Московского городского регионального отделения Общероссийской общественной организации «Российский союз спасателей»
                    // END logo block
                    
                    // START post block
                    section.block.block--post
                        div.page__container
                            div.block__body
                                div.block__header
                                    b.page__title Деятельность 
                                        span.page__title-tag #яспасатель
                                    div.page__text 
                                        p Размещайте посты в соцсетях с хештегом #яспасатель и они попадут к нам на сайт
                                div.block__content
                                    include ../components/post/block--post.pug
                                div.block__footer
                                    div.block__more
                                        a.btn(href="./activity.html", role="button") СМОТРЕТЬ ВСЕ ПОСТЫ
                                    // END post block

                    // END post block

                    // START about block
                    div.block.block--about
                        div.page__container
                            div.block__body
                                div.about.about--block
                                    figure.about__img
                                        img(src='%=static=%img/general/logo.png',
                                            srcset='%=static=%img/general/logo.png 1x, %=static=%img/general/logo@2x.png 2x',
                                            width="280px", height="215px", alt="Российского Союза спасателей - Московское городское региональное отделение")
                                    div.about__content
                                        b.page__title.about__title Российский союз спасателей
                                        div.about__text
                                            p.lead.about__lead Московское городское региональное отделение
                                            p Отделение объединяет усилия общества для решения проблем безопасности и спасения населения в чрезвычайных условиях. Команда столичного РОССОЮЗСПАСа участвует в операциях по защите и спасению людей, объектов и территорий в случае возникновения ЧС, стремится повысить роль спасателей в развитии аварийно-спасательного дела
                                        div.about__meta
                                            div.row
                                                div.row__col.row__col--auto
                                                    div.about__meta-item
                                                        b.about__meta-title 
                                                            | 2010 год
                                                        div.about__meta-text 
                                                            p начало работы
                                                                br 
                                                                | РОССОЮЗСПАС Москвы
                                                div.row__col.row__col--auto
                                                    div.about__meta-item
                                                        b.about__meta-title 
                                                            | > 1 000
                                                        div.about__meta-text
                                                            p специальных мероприятий
                                                                br 
                                                                | проведено специалистами
                                                div.row__col.row__col--auto
                                                    a.btn(href="#", title="ПОДРОБНЕЕ") ПОДРОБНЕЕ

                    // END about block

                    // START programm block
                    div.block.block--programms
                        div.page__container
                            b.block__title.page__title Программы
                            p Проведение тренингов первой помощи, противопожарной подготовки, поведения в чрезвычайных ситуациях
                            include ../components/programm/programm.pug
                    // END programm block

                    // STRAT services
                    div.services.services--block
                        div.page__container
                            b.services__title.services__title--block.page__title Наши услуги
                            div.row.services__row
                                - var n = 0
                                while n < 4
                                    div.row__col.services__col
                                        +services(services[n])
                                        - n++
                            div.services__footer
                                a.btn(href="#", title="Смотреть все услуги", role="button") Смотреть все услуги
                    // END services

                    // START partners
                    div.partners
                        div.page__container
                            b.partners__title Партнеры
                            div.row.partners__row
                                each item, index in partners
                                    div.row__col.partners__col
                                        +partners(item)

                                    
                    // END partners
                // END page main
            // END page content
        // END page wrapper

        //- START page footer
        +footer(data)
        //- END page footer

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts