div.row__col.post__col
    // START post item body
    div.post__body
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-1.png',
                    width="40px", height="40px", alt="МЧС России - @MchsRussia")
            div.post__user-content
                b.post__user-name МЧС России
                span.post__user-meta.meta
                    span.meta__item 
                        a(href="#", title="@MchsRussia") @MchsRussia
                    span.meta__item
                        time(datetime="2017-07-12") 3 ч.
            div.post__user-icon.post__user-icon--twitter
                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '24', iconHeight: '24'})

        div.post__content
            figure.post__gallery(data-toggle="link", data-target="#", title="")
                div.gallery
                    div.gallery__img
                        img(src="%=static=%img/content/post__1-img--1.jpg", alt="МЧС России - @MchsRussia")
            div.post__text
                p По всей стране прошли торжественные мероприятия в честь 368-й годовщины со Дня образования пожарной охраны России. 
                    a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                    |  
                    a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
    // END post item body
div.post__col.row__col
    // START post item body
    div.post__body
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-2.png',
                    width="40px", height="40px", alt="МЧС Москвы")
            div.post__user-content
                b.post__user-name МЧС Москвы
                span.post__user-meta.meta
                    span.meta__item
                        time(datetime="2017-07-12") 23 мая в 12:42
            div.post__user-icon.post__user-icon--facebook
                != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'icon icon-facebook', iconWidth: '24', iconHeight: '24'})

        div.post__content
            figure.post__gallery(data-toggle="link", data-target="#", title="")
                div.gallery
                    div.gallery__img
                        img(src="%=static=%img/content/post__2-img--1.jpg",  alt="МЧС Москвы")
                    div.gallery__row.row
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__2-img--2.jpg",  alt="МЧС Москвы")
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__2-img--3.jpg",  alt="МЧС Москвы")
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__2-img--4.jpg",  alt="МЧС Москвы")
                                span.gallery__more(data-count="+3")
            div.post__text
                p 
                    a.text.text--ellipsis(href="#", title="#УченияМЧС") #УченияМЧС
                    |  
                    a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                p Командно-штабное учение по теме: «Действия органов управления окружного звена Московской городской системы предупреждения и ликвидации чрезвычайных ситуаций, сил и средств гражданской обороны округа при ликвидации чрезвычайной ситуации техногенного характера" прошло в Западном административном округе г. Москвы на минувшей неделе.
                p Согласно тактическому замыслу, на территории ООО «Торнадо, в результате технической неисправности электропроводки в одном из помещений ко… 
                    a.text.text--ellipsis(href="#", title="Еще") Еще
    // END post item body
div.post__col.row__col
    // START post item body
    div.post__body
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-1.png',
                    width="40px", height="40px", alt="МЧС России - @MchsRussia")
            div.post__user-content
                b.post__user-name mchs112
                span.post__user-meta.meta
                    span.meta__item 
                        a(href="#", title="@mchs112") @mchs112
                    span.meta__item
                        time(datetime="2017-07-12") 21 ч.
            div.post__user-icon.post__user-icon--instagram
                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

        div.post__content
            figure.post__gallery(data-toggle="link", data-target="#", title="")
                div.gallery
                    div.gallery__img
                        img(src="%=static=%img/content/post__3-img--1.jpg", alt="МЧС России - @MchsRussia")
            div.post__text
                p Крупнейший в мире серийно выпускаемый транспортный вертолет Ми-26ТМ МЧС России несет самолет Ту-134 во время учений.
                    a.text.text--ellipsis(href="#", title="#БудниМЧС") #БудниМЧС
                    |  
                    a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
                    |  
                    a.text.text--ellipsis(href="#", title="#МЧСРОССИИ") #МЧСРОССИИ 
                    |  
                    a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
    // END post item body
div.post__col.row__col
    // START post item body
    div.post__body
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-3.jpg',
                    width="40px", height="40px", alt="МЧС Адыгея - @spasatel0101")
            div.post__user-content
                b.post__user-name МЧС Адыгея
                span.post__user-meta.meta
                    span.meta__item 
                        a(href="#", title="@spasatel0101") @spasatel0101
                    span.meta__item
                        time(datetime="2017-07-12") 12 дек. 2016 г.
            div.post__user-icon.post__user-icon--twitter
                != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '24', iconHeight: '24'})
        div.post__content
            figure.post__gallery(data-toggle="link", data-target="#", title="")
                div.gallery
                    div.gallery__img
                        img(src="%=static=%img/content/post__4-img--1.jpg", alt="МЧС Адыгея - @spasatel0101")
            div.post__text
                p 
                    a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
    // END post item body
div.post__col.row__col
    // START post item body
    div.post__body
        div.post__alert
            != pugHelpers.Icon.call(locals, {iconName: 'content-allert', className: 'post__alert-icon icon icon-content-allert', iconWidth: '25', iconHeight: '25'})
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-1.png',
                    width="40px", height="40px", alt="МЧС России - @MchsRussia")
            div.post__user-content
                b.post__user-name mchs112
                span.post__user-meta.meta
                    span.meta__item 
                        a(href="#", title="@mchs112") @mchs112
                    span.meta__item
                        time(datetime="2017-07-12") 21 ч.
            div.post__user-icon.post__user-icon--vk
                != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '24', iconHeight: '24'})

        div.post__content
            div.post__text
                p В связи со сложившейся пожароопасной обстановкой в некоторых регионах Красноярского края убедительно просим вас соблюдать требования пожарной безопасности особого противопожарного режима, который предусматривает полный запрет на использование открытого огня.
                p При возникновении пожара просим незамедлительно сообщать в пожарную охрану по телефонам 01 и 101.
                    a.text.text--ellipsis(href="#", title="#лесные пожары") #лесные пожары
    // END post item body
div.post__col.row__col
    // START post item body
    div.post__body
        div.post__alert
            != pugHelpers.Icon.call(locals, {iconName: 'content-allert', className: 'post__alert-icon icon icon-content-allert', iconWidth: '25', iconHeight: '25'})
        div.post__header.post__user
            div.post__user-img(data-toggle="link", data-target="#", title="")
                img(src='%=static=%img/content/post__avatar-4.jpg',
                    width="40px", height="40px", alt="Главное управление МЧС России по Татарстану")
            div.post__user-content
                b.post__user-name Главное управление МЧС России по Татарстану
                span.post__user-meta.meta
                    span.meta__item
                        time(datetime="2017-07-12") 13 минут назад
            div.post__user-icon.post__user-icon--vk
                != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '24', iconHeight: '24'})

        div.post__content
            figure.post__gallery(data-toggle="link", data-target="#", title="Главное управление МЧС России по Татарстану")
                div.gallery
                    div.gallery__img
                        img(src="%=static=%img/content/post__2-img--1.jpg",  alt="Главное управление МЧС России по Татарстану")
                    div.gallery__row.row
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__5-img--1.jpg",  alt="Главное управление МЧС России по Татарстану")
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__5-img--2.jpg",  alt="Главное управление МЧС России по Татарстану")
                        div.gallery__col.col
                            div.gallery__img.gallery__img--square
                                img(src="%=static=%img/content/post__5-img--3.jpg",  alt="Главное управление МЧС России по Татарстану")
                                span.gallery__more(data-count="+2")
            div.post__text
                p 01.05.2017 года в 17.50 (мск) в ОДС ФКУ «ЦУКС Главного управления МЧС России по Республике Татарстан» от ЕДДС Верхнеуслонского муниципального района поступило сообщение о столкновении легковых автомобилей в Верхнеуслонском районе на 38 км автодороги Р-241 «Казань-Ульяновск».
                a.text.text--ellipsis(href="#", title="Читать далее…") Читать далее…
    // END post item body