doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        b.page__title Политика конфиденциальности
                        div.page__text 
                            p Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую юр.лицо Московское городское региональное отделение Общероссийской общественной организации "Российский Союз Спасателей" (ОГРН: 1107799022583, ИНН: 7743009408,адрес регистрации: 119607, Москва, Мичуринский проспект, дом 27, корп 1) и/или его аффилированные лица, могут получить о пользователе во время использования им сайта 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow.
                            p Использование сайта 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |  означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования данного ресурса.

                            b.h2 1. Персональная информация пользователей, которую получает и обрабатывает сайт  http://www.ruor.moscow 
                            p 1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
                            p 1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при оставлении заявки, совершении покупки, регистрации (создании учётной записи) или в ином процессе использования сайта.
                            p 1.1.2 Данные, которые автоматически передаются сайтом http://www.ruor.moscow в процессе его использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к сайту), время доступа, адрес запрашиваемой страницы.
                            p 1.1.3. Данные, которые предоставляются сайту, в целях осуществления оказания услуг и/или продаже товара и/или предоставления иных ценностей для посетителей сайта, в соответствии с деятельностью настоящего ресурса:
                                br
                                | фамилия
                                br
                                | имя
                                br
                                | отчество
                                br
                                | электронная почта
                                br
                                | номер телефона
                                br
                                | месторасположение
                                br
                                | ip адрес
                            p 1.2. Настоящая Политика применима только к сайту 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |  и не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайте 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
                            p 1.3. Сайт в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако сайт 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |  исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в формах настоящего ресурса, и поддерживает эту информацию в актуальном состоянии.

                            b.h2 2. Цели сбора и обработки персональной информации пользователей
                            p 2.1. Сайт собирает и хранит только те персональные данные, которые необходимы для оказания услуг и/или продаже товара и/или предоставления иных ценностей для посетителей сайта 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |.
                            p 2.2. Персональную информацию пользователя можно использовать в следующих целях:
                            p 2.2.1 Идентификация стороны в рамках соглашений и договоров с сайтом
                            p 2.2.2 Предоставление пользователю персонализированных услуг и сервисов, товаров и иных ценностей 
                            p 2.2.3 Улучшение качества сайта, удобства его использования, разработка новых товаров и услуг
                            p 2.2.4 Проведение статистических и иных исследований на основе предоставленных данных

                            b.h2 3. Условия обработки персональной информации пользователя и её передачи третьим лицам
                            p 3.1. Сайт 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow 
                                | хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
                            p 3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
                            p 3.3.  Сайт 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow 
                                | вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
                            p 3.3.1. Пользователь выразил свое согласие на такие действия, путем согласия выразившегося в предоставлении таких данных;
                            p 3.3.2. Передача необходима в рамках использования пользователем определенного сайта 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow 
                                |, либо для предоставления товаров и/или оказания услуги пользователю;
                            p 3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                            p 3.3.4. В целях обеспечения возможности защиты прав и законных интересов сайта  
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow 
                                | или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сайта 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow
                                |.
                            p 3.4. При обработке персональных данных пользователей сайт 
                                a(href="http://www.ruor.moscow", title="www.ruor.moscow") www.ruor.moscow 
                                | руководствуется Федеральным законом РФ «О персональных данных».
                            
                            b.h2 4. Изменение пользователем персональной информации
                            p 4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности, оставив заявление в адрес администрации сайта следующим способом:
                                br
                                | Email: 
                                a(href="mailto:info@ruor.moscow", title="Написать письмо") info@ruor.moscow
                            p 4.2. Пользователь может в любой момент, отозвать свое согласие на обработку персональных данных, оставив заявление в адрес администрации сайта следующим способом:
                                br
                                | Email: 
                                a(href="mailto:info@ruor.moscow", title="Написать письмо") info@ruor.moscow
                            
                            b.h2 5. Меры, применяемые для защиты персональной информации пользователей
                            p Сайт принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
                            
                            b.h2 6. Изменение Политики конфиденциальности. Применимое законодательство
                            p 6.1. Сайт имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.

                            p 6.2. К настоящей Политике и отношениям между пользователем и Сайтом, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
                            
                            b.h2 7. Обратная связь. Вопросы и предложения
                            p 7.1. Все предложения или вопросы по поводу настоящей Политики следует направлять следующим способом:
                                br
                                | Email: 
                                a(href="mailto:info@ruor.moscow", title="Написать письмо") info@ruor.moscow


                    // END page main

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts