doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.programms)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        // START programm 
                        article.programm
                            div.programm__header
                                figure.programm__img
                                    img( src="%=static=%img/assets/programm/programm__img-2.png",
                                        srcset="%=static=%img/assets/programm/programm__img-2.png 1x, %=static=%img/assets/programm/programm__img-2@2x.png 2x", 
                                        alt="Первая помощь для всех")
                                div.programm__teaser
                                    div.programm__nav
                                        nav.nav
                                            a.nav__link(href="./programms.html", title="Все программы") Все программы
                                    h1.page__title.programm__title Первая помощь для всех
                                    p На занятиях слушатели приобретают теоретические знания и практические навыки по оказанию первой помощи. Занятия проводят инструктора первой помощи с медицинским образованием практическим опытом работы в спасательных и медицинских подразделениях.
                                    p По окончании курсов выдаётся удостоверение.
                                    div.programm__action
                                        div.programm__teaser-row.row
                                            div.programm__teaser-col.row__col
                                                div.programm__time
                                                    div.programm__time-title
                                                        | от 8 до 24 часов
                                                    div.programm__time-text
                                                        | продолжительность курса
                                            div.programm__teaser-col.row__col
                                                button.btn(data-target="#modalFormProgramms", data-toggle="modal", data-value="Знакомство с профессией для детей", type="button", role="button") ПОДАТЬ ЗАЯВКУ
                            div.programm__content
                                blockquote.programm__blockquote.blockquote
                                    b.blockquote__title Каждый слушатель будет обладать набором знаний и умений, с помощью которых он сможет сохранить свою жизнь, спасти жизнь своих близких и окружающих его людей
                                    div.blockquote__text
                                        p.text.text--secondary Занятия проводятся в группах по 10 – 12 человек, на территории заказчика или в наших учебных классах, расположенных в различных округах города Москвы. Длительность занятий 8, 16, 24 часа (соответственно, 1, 2 или 3 дня). При необходимости, можем подготовить и провести программу по желанию заказчика.
                                div.programm__gallery
                                    figure.gallery.gallery--programm
                                        div.gallery__row.row
                                            each item, index in programm.gallery2
                                                div.gallery__col.row__col
                                                    div.gallery__img
                                                        img( src="%=static=%img/assets/programm/" + item.img,
                                                            srcset="%=static=%img/assets/programm/" + item.img + " 1x, %=static=%img/assets/programm/" + item.img2x + " 2x", 
                                                            alt="Знакомство с профессией для детей")
                                div.programm__plan
                                    b.page__title.programm__plan-title План проведения занятий
                                    div.programm__plan-content
                                        b.h3 1 блок – Теоретическая часть курса – Получение знаний: 
                                        ul.programm__task
                                            li как вести себя в той, или иной чрезвычайной ситуации;
                                            li юридически аспекты оказания первой помощи;
                                            li как проводить правильный осмотр пострадавшего;
                                            li как грамотно оказывать первую помощь;
                                            li как правильно проводить сердечно-лёгочную реанимацию;
                                            li как оказывать помощь при ожогах, травмах, кровотечениях;
                                            li как транспортировать пострадавшего без вреда здоровью;
                                        b.h3 2 блок – Практическая часть курса - Отработка навыков на манекенах и людях:
                                        ul.programm__task
                                            li остановка кровотечения;
                                            li наложение повязок;
                                            li проведение СЛР (сердечно-лёгочной реанимации);
                                            li иммобилизация переломов;
                                            li транспортировка пострадавшего;
                                        b.h3 3 блок – Зачётная часть курса - Отработка полученных навыков и знаний в формате ситуационных задач:
                                        ul.programm__task
                                            li ДТП с участием общественного транспорта (6-8 пострадавших);
                                            li пожар в жилом доме (5-7 пострадавших);
                                            li взрыв в общественном месте (7-9 пострадавших) и другие.
                                div.programm__document
                                    b.page__title.programm__document-title Узнайте больше
                                    div.document
                                        div.document__row.row
                                            div.document__col.row__col
                                                a.document__body.document__body--doc(href="./uploads/programms/pervaya_pomoshch_dlya_vsekh.ppt", title="Скачать \"Призентация курса\"", download) 
                                                    b.document__title Призентация курса
                                                    span.document__meta PDF 1,3 Mb


                        // END programm 

                    // END page main=

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts