doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.programms)
    body.page(class="page--" + head.programms.pageName)
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.programms)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        b.page__title Программы
                        div.page__text
                            p Проведение тренингов первой помощи, противопожарной подготовки, поведения в чрезвычайных ситуациях
                        
                        //- START programm list
                        include ../components/programm/programm.pug
                        //- END programm list

                    // END page main

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts