doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.programms)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main
                    main.page__main(id="main", role="main")
                        // START programm 
                        article.programm
                            div.programm__header
                                figure.programm__img
                                    img( src="%=static=%img/assets/programm/programm__img-1.png",
                                        srcset="%=static=%img/assets/programm/programm__img-1.png 1x, %=static=%img/assets/programm/programm__img-1@2x.png 2x", 
                                        alt="Знакомство с профессией для детей")
                                div.programm__teaser
                                    div.programm__nav
                                        nav.nav
                                            a.nav__link(href="./programms.html", title="Все программы") Все программы
                                    h1.page__title.programm__title Знакомство с профессией для детей
                                    p Ваш ребенок любит супергероев и хочет быть похожим на них? Мечтает почувствовать себя настоящим спасателем? Положите начало его блестящей карьере в будущем, укрепив его стремления! Исполните мечту Своего ребенка!
                                    div.programm__action
                                        div.programm__teaser-row.row
                                            div.programm__teaser-col.row__col
                                                div.programm__time
                                                    div.programm__time-title
                                                        | 1 день
                                                    div.programm__time-text
                                                        | продолжительность курса
                                            div.programm__teaser-col.row__col
                                                button.btn(data-target="#modalFormProgramms", data-toggle="modal", data-value="Знакомство с профессией для детей", type="button", role="button") ПОДАТЬ ЗАЯВКУ
                            div.programm__content
                                blockquote.programm__blockquote.blockquote
                                    b.blockquote__title С Российским союзом спасателей Ваш ребенок станет настоящим экспертом в области спасения
                                    div.blockquote__text
                                        p.text.text--secondary Ваш ребенок, в игровой форме, научится оказывать первую помощь, узнает, как вести себя в чрезвычайной ситуации; на природе; дома, если останется один; а также научится пользоваться специальным спасательным инструментом! Программа «профессия Спасатель» включает в себя знакомство с целой группой профессий спасателей, таких как спасатель МЧС, пожарный! За целый день он узнает о спасателях, и сам попробует себя в этой профессии!
                                        p
                                            b Ребенок станет отзывчивым и внимательным, научится правильно вести себя в чрезвычайных ситуациях, получит интересные знания, расширит свой кругозор и найдет новых друзей, а мастер-классы и развлечения подарят Вашему ребенку море положительных эмоций!
                                div.programm__gallery
                                    figure.gallery.gallery--programm
                                        div.gallery__row.row
                                            each item, index in programm.gallery
                                                div.gallery__col.row__col
                                                    div.gallery__img
                                                        img( src="%=static=%img/assets/programm/" + item.img,
                                                            srcset="%=static=%img/assets/programm/" + item.img + " 1x, %=static=%img/assets/programm/" + item.img2x + " 2x", 
                                                            alt="Знакомство с профессией для детей")
                                div.programm__plan
                                    b.page__title.programm__plan-title План проведения обучающего тренинга
                                    div.programm__plan-content
                                        b.h3 Ожидаемый результат
                                        p Формирование у детей знаний о поведение при экстремальных ситуациях, умений работы с аварийно-спасательным инструментом и оборудованием.
                                        b.h3 Цель тренинга
                                        p Познакомить детей с опасной и интересной профессией пожарного-спасателя.
                                        b.h3 Задачи
                                        ul.programm__task
                                            li
                                                b.h5 Образовательные
                                                p Формирование интереса к профессии «пожарного-спасателя».
                                                    br 
                                                    | Знакомство с трудом взрослых: пожарного, диспетчера.
                                            li
                                                b.h5 Развивающие
                                                p Развитие наблюдательности, интереса к труду пожарных-спасателей, снаряжению, инструменту, которым они пользуются, специальным транспортным средствам.
                                            li
                                                b.h5 Воспитательные
                                                p Формирование у детей положительного отношения к профессии пожарного-спасателя, устойчивых норм поведения на улице и в общественных местах.
                                                p Обучающий тренинг «Знакомство с профессией пожарного-спасателя» состоит из двух блоков. Первый блок «4 стихии» состоит из четырех учебных мест :
                                                p 1) Земля – дети получают знания и формируют умения при работе с гидравлическим аварийно-спасательным инструментом.
                                                p 2) Небо - дети получают знания и формируют умения при работе с альпинистским снаряжением на скалодроме.
                                                p 3) Огонь - дети получают знания и формируют умения при работе с пожарно-техническим оборудованием.
                                                p 4) Вода - дети получают знания и формируют умения при работе со спасательными средствами спасения на воде.
                                                p Второй блок «Оказание первой помощи» состоит из одного учебного места, где дети получают знания об основах сердечно-легочной реанимации и правилах наложения повязок.
                                div.programm__document
                                    b.page__title.programm__document-title Узнайте больше
                                    div.document
                                        div.document__row.row
                                            div.document__col.row__col
                                                a.document__body(href="./uploads/programms/znakomstvo_s_professiyey_dlya_detey.pdf", title="Скачать \"Призентация курса\"", download) 
                                                    b.document__title Призентация курса
                                                    span.document__meta PDF 1,3 Mb


                        // END programm 

                    // END page main

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts