doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    include ../components/services/services.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            div.page__container
                div.page__triangle.page__triangle--default
            //- START page header
            +header(head.services)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START page main

                    main.page__main(id="main", role="main")
                        b.page__title Услуги
                        div.page__text
                            p Проведение тренингов первой помощи, противопожарной подготовки, поведения в чрезвычайных ситуациях.
                        div.services
                            div.row.services__row
                                each item, index in services                                
                                    div.row__col.services__col
                                        +services(item)

                    // END page main


            // END page content
        // END page wrapper

        //- START page footer
        +footer(data)
        //- END page footer

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts