doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START ui block
                    section.block.block--section.block--ui
                        div.block__header
                            b.block__title.h2 Модальное окно
                        div.block__content
                            button.btn(data-target="#modalFormServices", data-toggle="modal", data-value="100",type="button", role="button") Оставить заявку
                    // END ui modal block
            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START modals 
        include ../components/ui/parts/modal.pug
        // END modals
    
        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        //- jQuery
        script(src='%=static=%js/separate-js/holder.min.js')        
        // END page scripts