doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- START page header
            +header(head.defaults)
            //- END page header

            // START page content
            div.page__content(id="content")
                div.page__container
                    // START ui block
                    section.block.block--section.block--ui
                        div.block__header
                            b.block__title.h2 Типографика
                        div.block__content
                            div.row
                                div.row__col
                                    b.h1 Заголовок первого уровня
                                    b.h2 Заголовок второго уровня
                                    b.h3 Заголовок третьего уровня
                                    b.h4 Заголовок четвертого уровня
                                    b.h5 Заголовок пятого и шестого уровня
                                div.row__col
                                    b.h4 Текст
                                    p Отделение объединяет усилия общества для решения проблем безопасности и спасения населения в чрезвычайных условиях.
                                    p Команда столичного РОССОЮЗСПАСа участвует в операциях по защите и спасению людей, объектов и территорий в случае возникновения ЧС, стремится повысить роль спасателей в развитии аварийно-спасательного дела
                                    
                                    b.h4 Доп. текст
                                    div.text.text--secondary
                                        p Отделение объединяет усилия общества для решения проблем безопасности и спасения населения в чрезвычайных условиях.

                                    div.row
                                        div.row__col.row__col--auto
                                            a(href="#", title="Ссылка") Ссылка
                                        div.row__col.row__col--auto
                                            a.is-hover(href="#", title="Ссылка") Ссылка
                    section.block.block--section.block--ui
                        div.block__header
                            b.block__title.h2 UI
                        div.block__content
                            div.row
                                div.row__col
                                    b.h4 Cards
                                    div.row
                                        div.row__col
                                            div.card
                                                | normal
                                        div.row__col
                                            div.card.is-hover
                                                | hover
                                div.row__col
                                    b.h4 Buttons
                                    div.row
                                        div.row__col.row__col--auto
                                            button.btn(type="button", role="button", title="ПОДРОБНЕЕ") ПОДРОБНЕЕ
                                        div.row__col.row__col--auto
                                            button.btn.is-hover(type="button", role="button", title="ПОДРОБНЕЕ") ПОДРОБНЕЕ
                                        div.row__col.row__col--auto
                                            button.btn.btn--close(type="button", role="button", title="Закрыть")
                                                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
                                        div.row__col.row__col--auto
                                            button.btn.btn--close.is-hover(type="button", role="button", title="Закрыть")
                                                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
                            div.row
                                div.row__col
                                    b.h2 Text fields
                                    div.card
                                        form.form
                                            div.form__group
                                                label.form__label(for="") Заголовок поля
                                                input.form__control(type="text", placeholder="подсказка для ввода")
                                            
                                            div.form__group
                                                label.form__label(for="") Заголовок поля
                                                input.form__control.is-focus(type="text", placeholder="подсказка для ввода", value="Заполнен ")
                                            
                                            div.form__group
                                                label.form__label(for="") Заголовок поля
                                                input.form__control(type="text", placeholder="подсказка для ввода", value="Заполненное поле")
                                            
                                            div.form__group.form__group--error
                                                label.form__label(for="") Заголовок поля
                                                input.form__control(type="text", placeholder="подсказка для ввода", value="Неверное значение в поле")
                                                div.form__text.form__text--help
                                                    | Подсказка по правельному заполнению поля
                                div.row__col
                    // END ui block
                    // START ui post block
                    section.block.block--section.block--ui
                        div.block__header
                            b.block__title.h2 Типы постов
                        div.block__content
                            div.post
                                div.post__row.row
                                    div.post__col.row__col
                                        b.h4 Пост тип 1
                                        div.text.text--secondary
                                            p 1 Фото, выделенно "Важное", текст и теги
                                        // START post item body
                                        div.post__body
                                            div.post__alert
                                                != pugHelpers.Icon.call(locals, {iconName: 'content-allert', className: 'post__alert-icon icon icon-content-allert', iconWidth: '25', iconHeight: '25'})
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        srcset='%=static=%img/assets/post/post__avatar-1.png 1x, %=static=%img/assets/post/post__avatar-1--2x.png 2x',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--instagram
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                    p Крупнейший в мире серийно выпускаемый транспортный вертолет Ми-26ТМ МЧС России несет самолет Ту-134 во время учений.
                                                        a.text.text--ellipsis(href="#", title="#БудниМЧС") #БудниМЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧСРОССИИ") #МЧСРОССИИ 
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                    div.post__col.row__col
                                        b.h4 Пост тип 2
                                        div.text.text--secondary
                                            p 2 фото, текст и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--twitter
                                                    != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__row.row
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                    p Крупнейший в мире серийно выпускаемый транспортный вертолет Ми-26ТМ МЧС России несет самолет Ту-134 во время учений.
                                                        a.text.text--ellipsis(href="#", title="#БудниМЧС") #БудниМЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧСРОССИИ") #МЧСРОССИИ 
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                div.post__row.row
                                    div.post__col.row__col
                                        b.h4 Пост тип 3
                                        div.text.text--secondary
                                            p 3 фото, текст и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--facebook
                                                    != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'icon icon-facebook', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                        div.gallery__row.row
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/1024x768?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/1600x1200?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                    p Крупнейший в мире серийно выпускаемый транспортный вертолет Ми-26ТМ МЧС России несет самолет Ту-134 во время учений. 
                                                        a.text.text--ellipsis(href="#", title="#БудниМЧС") #БудниМЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧСРОССИИ") #МЧСРОССИИ 
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                    div.post__col.row__col
                                        b.h4 Пост тип 4
                                        div.text.text--secondary
                                            p 4 и более фото, текст и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--vk
                                                    != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                        div.gallery__row.row
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/1900x1000?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/1024x768?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                            div.gallery__col.row__col
                                                                div.gallery__img.gallery__img--square
                                                                    img(data-src="holder.js/1600x1200?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                                    span.gallery__more(data-count="+3")

                                                div.post__text
                                                    p Крупнейший в мире серийно выпускаемый транспортный вертолет Ми-26ТМ МЧС России несет самолет Ту-134 во время учений. 
                                                        a.text.text--ellipsis(href="#", title="#БудниМЧС") #БудниМЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧС") #МЧС
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#МЧСРОССИИ") #МЧСРОССИИ 
                                                        |  
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                div.post__row.row
                                    div.post__col.row__col
                                        b.h4 Пост тип 5
                                        div.text.text--secondary
                                            p Видео, текст ссылка и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--instagram
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__video
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                            span.gallery__play
                                                            span.gallery__meta YouTube 0:54

                                                div.post__text
                                                    p 
                                                        a(href="#", title="Работа авиации МЧС России в Сибирском федеральном округе.") Работа авиации МЧС России в Сибирском федеральном округе. 
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                    div.post__col.row__col
                                        b.h4 Пост тип 6
                                        div.text.text--secondary
                                            p Картинка и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--instagram
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x400?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                        a.text.text--ellipsis(href="#", title="#яспасатель") #яспасатель
                                        // END post item body
                                div.post__row.row
                                    div.post__col.row__col
                                        b.h4 Пост тип 7
                                        div.text.text--secondary
                                            p Выделенный короткий текст ссылка и теги
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--instagram
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                    p.post__lead МЧС России решает вопросы всесторонней помощи и поддержки пострадавшего от пожаров населения Сибири. 
                                                        a.text.text--ellipsis(href="#", title="#лесные пожары") #лесные пожары
                                                    a.text.text--ellipsis(href="http://www.mchs.gov.ru/dop/info/smi/news/item/3318009…", title="") http://www.mchs.gov.ru/dop/info/smi/news/item/3318009…
                                        // END post item body
                                    div.post__col.row__col
                                        b.h4 Пост тип 8
                                        div.text.text--secondary
                                            p Длинный текст и сслык на пост "читать далее"
                                        // START post item body
                                        div.post__body
                                            div.post__header.post__user
                                                div.post__user-img(data-toggle="link", data-target="#", title="")
                                                    img(src='%=static=%img/assets/post/post__avatar-1.png',
                                                        width="40px", height="40px", alt="МЧС России - @MchsRussia")
                                                div.post__user-content
                                                    b.post__user-name mchs112
                                                    span.post__user-meta.meta
                                                        span.meta__item 
                                                            a(href="#", title="@mchs112") @mchs112
                                                        span.meta__item
                                                            time(datetime="2017-07-12") 21 ч.
                                                div.post__user-icon.post__user-icon--instagram
                                                    != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})

                                            div.post__content
                                                figure.post__gallery(data-toggle="link", data-target="#", title="")
                                                    div.gallery
                                                        div.gallery__img
                                                            img(data-src="holder.js/800x600?auto=yes&theme=sky", alt="МЧС России - @MchsRussia")
                                                div.post__text
                                                    p 01.05.2017 года в 17.50 (мск) в ОДС ФКУ «ЦУКС Главного управления МЧС России по Республике Татарстан» от ЕДДС Верхнеуслонского муниципального района поступило сообщение о столкновении легковых автомобилей в Верхнеуслонском районе на 38 км автодороги Р-241 «Казань-Ульяновск».
                                                    a.text.text--ellipsis(href="#", title="Читать далее…") Читать далее…
                                        // END post item body
                    // END ui post block
                    // START ui modal block
                    section.block.block--section.block--ui.block--modal
                        div.block__header
                            b.block__title.h2 Модальное окно
                        div.block__content
                            // START modal
                            div.modal.is-open
                                div.modal__dialog
                                    div.modal__content
                                        button.modal__close.btn.btn--close(data-dismis="modal", type="button", role="button")
                                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
                                        div.modal__header
                                            b.modal__title Заявка на прохождение программы
                                        div.modal__body
                                            p Оставьте заявку на прохождение программы. Мы свяжемся с вами и расскажем об условиях, времени и месте проведения обучения.
                                            div.form
                                                form(action="")
                                                    div.form__group
                                                        label.form__label Фамилия и имя
                                                        input.form__control(name="formProgrammName", type="text", value="", placeholder="Иванов Иван...", required)
                                                    div.form__row.row
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label Номер телефона
                                                                input.form__control(name="formProgrammTel", type="tel", value="", placeholder="7112233...", required)
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label E-mail
                                                                input.form__control(name="formProgrammEmail", type="email", value="", placeholder="ne@camimbo.info", required)
                                                    div.form__action
                                                        input(name="formProgrammServicesID", type="hidden", value="", hidden)
                                                        div.form__row.row
                                                            div.form__col.form__col--auto.row__col
                                                                button.btn(type="submit", role="button") Отправить заявку
                                                            div.form__col.form__col--strench.row__col
                                                                div.form__text 
                                                                    | Нажимая кнопку «Отправить» вы автоматически соглашаетесь с 
                                                                    a(href="./privacy-policy") политикой безопастноти
                                        div.modal__message
                                            div.modal__img
                                                != pugHelpers.Icon.call(locals, {iconName: 'art-special-effects', className: 'modal__icon icon icon-art-special-effects', iconWidth: '24', iconHeight: '24'})
                                            b.modal__title Ваша заявка отправлена

                            // END modal

                            // START modal
                            div.modal.is-open
                                div.modal__dialog
                                    div.modal__content
                                        button.modal__close.btn.btn--close(data-dismis="modal", type="button", role="button")
                                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
                                        div.modal__header
                                            b.modal__title Оставить заявку на услугу
                                        div.modal__body
                                            b.h4 Демонтаж опасно нависающих конструкций
                                            p Мы свяжемся с вами и подробно расскажем о наших услугах и условиях оказания
                                            div.form
                                                form(action="")
                                                    div.form__group
                                                        label.form__label Фамилия и имя
                                                        input.form__control(name="formServicesName", type="text", value="", placeholder="Иванов Иван...", required)
                                                    div.form__row.row
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label Номер телефона
                                                                input.form__control(name="formServicesTel", type="tel", value="", placeholder="7112233...", required)
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label E-mail
                                                                input.form__control(name="formServicesEmail", type="email", value="", placeholder="ne@camimbo.info", required)
                                                    div.form__action
                                                        input(name="formHiddenValue", type="hidden", value="", hidden)
                                                        div.form__row.row
                                                            div.form__col.form__col--auto.row__col
                                                                button.btn(type="submit", role="button") Отправить заявку
                                                            div.form__col.form__col--strench.row__col
                                                                div.form__text 
                                                                    | Нажимая кнопку «Отправить» вы автоматически соглашаетесь с 
                                                                    a(href="./privacy-policy") политикой безопастноти
                                        div.modal__message
                                            div.modal__img
                                                != pugHelpers.Icon.call(locals, {iconName: 'art-special-effects', className: 'modal__icon icon icon-art-special-effects', iconWidth: '24', iconHeight: '24'})
                                            b.modal__title Ваша заявка отправлена

                            // END modal

                            // START modal
                            div.modal.is-open
                                div.modal__dialog
                                    div.modal__content
                                        button.modal__close.btn.btn--close(data-dismis="modal", type="button", role="button")
                                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
                                        div.modal__header
                                            b.modal__title Оставить заявку на услугу
                                        div.modal__body
                                            b.h4 Демонтаж опасно нависающих конструкций
                                            p Мы свяжемся с вами и подробно расскажем о наших услугах и условиях оказания
                                            div.form
                                                form(action="")
                                                    div.form__group
                                                        label.form__label Фамилия и имя
                                                        input.form__control(name="formServicesName", type="text", value="", placeholder="Иванов Иван...", required)
                                                    div.form__row.row
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label Номер телефона
                                                                input.form__control(name="formServicesTel", type="tel", value="", placeholder="7112233...", required)
                                                        div.form__col.row__col
                                                            div.form__group
                                                                label.form__label E-mail
                                                                input.form__control(name="formServicesEmail", type="email", value="", placeholder="ne@camimbo.info", required)
                                                    div.form__action
                                                        input(name="formHiddenValue", type="hidden", value="", hidden)
                                                        div.form__row.row
                                                            div.form__col.form__col--auto.row__col
                                                                button.btn(type="submit", role="button") Отправить заявку
                                                            div.form__col.form__col--strench.row__col
                                                                div.form__text 
                                                                    | Нажимая кнопку «Отправить» вы автоматически соглашаетесь с 
                                                                    a(href="./privacy-policy") политикой безопастноти
                                        div.modal__message.is-open
                                            div.modal__img
                                                != pugHelpers.Icon.call(locals, {iconName: 'art-special-effects', className: 'modal__icon icon icon-art-special-effects', iconWidth: '24', iconHeight: '24'})
                                            b.modal__title Ваша заявка отправлена

                            // END modal
                            div.overlay.is-open
                    // END ui modal block
            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        //- jQuery
        script(src='%=static=%js/separate-js/holder.min.js')        
        // END page scripts