// START block style
.block{
    $_: '.block';
    &--ui{
        margin-top: 30px;
        margin-bottom: 30px;
        #{$_}__header{
            margin-bottom: 20px;
            #{$_}__title{
                margin-bottom: 0;
            }
        }
    }
    &--logo{
        margin-top: 35px;
        margin-bottom: 20px;
        #{$_}__body{
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
    }
    &--post{
        position: relative;
    }
    &--modal{
        position: relative;
        z-index: 1050; 
        #{$_}__content{
            position: relative;
            overflow: hidden;
        }
        .modal{
            position: relative;
        }
        .overlay{
            position: absolute;
        }
    }
}

@import 'block-responsive';
// END block style