// Common styles of the project

html, body {
    height: 100%;
}

// START page style
.page {
    $_ : '.page';
    &.modal-open{
        overflow: hidden;
    }
    &__wrapper{
        overflow-x: hidden;
        overflow: hidden;
    }
    &__container{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        box-sizing: border-box;
    }
    &__content{
        padding-bottom: 40px;
    }
    &__header{
        margin-bottom: 25px;
    }
    &__footer{
        border-top: 1px solid rgba($black, .07);
        background-color: $white;
    }
    &__tabs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .nav{
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__title{
        display: block;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        margin-bottom: 13px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        &-tag{
            display: inline-block;
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 36px;
            font-weight: 300;
            background-color: $brand-primary;
        }
    }
    &__text{
        display: block;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.43;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__triangle{
        position: absolute;
        top: 0;
        left: 62px;
        &--default{
            display: block;
            width: 0;
            height: 0;
            border-left: 258px solid transparent;
            border-right: 258px solid transparent;
            border-top: 516px solid rgba($gray-dark, .05);
        }
        &--copter{
            &, img{
                display: none;
            }
        }
    }
    &--main, &--programms, &--activity, &--services{
        #{$_}__content{
            padding-bottom: 0;
        }
    }
    &--programms{
        #{$_}__text{
            margin-bottom: 0;
        }
    }
}

* html .page__wrapper {
    height: 100%;
}
// END page style

@import 'common-responsive';