.page{
    $_ : '.page';
    @media (min-width: 660px) {
        &__title{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            &-tag{
                margin-top: 0;
                margin-left: 15px;
            }
        }
        &__text{
            padding-left: 0;
            padding-right: 0;
        }
        &__triangle{
            left: -64px;
        }
    }
    @media (min-width: 800px) {
        &__triangle{
            left: -100px;
        }
    }
    @media (min-width: 1200px) {
        &__triangle{
            &--copter{
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 458px;
                height: 659px;
                background: svg-load('../../img/general/triangle.svg') no-repeat 0 0;
                &, img{
                    display: block;
                }
                img{
                    position: absolute;
                    top: -60px;
                    right: 0px;
                }
            }
        }
    }
}