// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

// conver px to rem
@function rem($pixels){
    @return $pixels / 16 + rem;
}


// link decoration style

@mixin link-decoration($style: underline, $color: $link-color, $color-hover: $link-color-hover, $bg-color: $white, $size-x: 1px, $size-y: 1px) {
    cursor: pointer;
    color: $color;
    background-position: 0 1.05em;
    background-repeat: repeat-x;
    background-size: $size-x $size-y;
    &:hover{
        color: $color-hover;
    }
    @if ($style == dotted) {
        background-image: linear-gradient(to right, $color, $color 50%, transparent 50%);
        &:hover{
            background-image: linear-gradient(to right, $color-hover, $color-hover 50%, transparent 50%);
        }
    } @else if ($style == dashed) {
        background-image: linear-gradient(to right, $color, $color 60%, transparent 60%);
        &:hover{
            background-image: linear-gradient(to right, $color-hover, $color-hover 60%, transparent 60%);
        }
    } @else {
        background-image: linear-gradient(to right, $color, $color 100%);
        &:hover{
            background-image: linear-gradient(to right, $color-hover, $color-hover 100%);
        }
    }
}