// File for scss-vars.
// For example: main colors, paddings and so on.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:                     #fff !default;
$black:                     #000 !default;
$yellow:                    #ffd900 !default;
$red:                       #dc4e52 !default;
$blue:                      #0a84c8 !default;
$green:                     #6fbb77 !default;
$teal:                      #3e6ea8 !default;

// Create grayscale
$gray-dark:                 #1f2023 !default;
$gray:                      #77787c !default;
$gray-light:                #f6f6f6 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $yellow !default;
$brand-info:                $blue !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
// $brand-warning:             $orange !default;
// $brand-success:             $green !default;

// Links
//
// Style anchor elements.

$link-color:            $brand-info !default;
$link-decoration:       none !default;
$link-hover-color:      $brand-danger !default;
$link-hover-decoration: none !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:          "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif !default;
$font-size-base:            14px;
$font-weight-base:          400;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.45 !default;

$dt-font-weight: $font-weight-bold !default;

$transition-base:        all .2s ease-in-out !default;
$transition-fade:        opacity .15s linear !default;
$transition-collapse:    max-height .35s ease !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-light !default;
$body-color:                $gray-dark !default;
$inverse-bg:                $gray-dark !default;
$inverse-color:             $white !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;


// Components
//
// Define common padding and border radius sizes and more.

$border-radius:            4px;
$border-width:             1px;
$border-color:             lighten($black, 92%);


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y:            10px !default;
$input-btn-padding-x:            30px !default;
$input-btn-line-height:          1.3 !default;

$btn-font-weight:                $font-weight-normal !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-transition:                 background-color .15s ease-in-out, border-color .15s ease-in-out;

// Forms

$input-bg:                       $white !default;
$input-disabled-bg:              $gray-light !default;

$input-color:                    $body-color !default;
$input-border-color:             $border-color !default;

$input-focus-bg:                 $input-bg !default;
$input-focus-border-color:       $brand-info !default;
$input-focus-color:              $input-color !default;

$input-placeholder-color:        $gray !default;

$input-height-border:            1px !default;

$input-height-inner:             ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2) !default;
$input-height:                   calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-transition:               border-color ease-in-out .15s;