.post {
    $_: ".post";
    @media (min-width: 660px) {
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }
        &__body{
            padding: 20px 30px;
            max-width: 500px;
            margin-bottom: $grid-gutter-width;
        }
        &__text{
            padding: 0;
        }
        &--block{
            #{$_}__col{
                &:last-child{
                    #{$_}__body{
                        margin-bottom: 20px;
                        height: auto;
                    }
                }
            }
            #{$_}__body{
                margin-bottom: 20px;
            }
        }
    }
}