// START post
.post {
    $_ : '.post';
    overflow: hidden;
    &__col{
        flex: 0 0 100%;
        max-width: 100%;
    }
    &__body{
        position: relative;
        @extend .card;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding: 10px;
        max-width: 420px;
    }
    &__alert{
        position: absolute;
        top: 0;
        left: 0;
        border-top: 2px solid $brand-danger;
        display: flex;
        width: 100%;
        &-icon{
            margin-top: -2px;
            margin-left: auto;
            color: $white;
            font-size: 20px;
            background: $brand-danger;
        }
    }
    &__user{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 10px;
        &-img{
            user-select: none;
            cursor: pointer;
            flex: 0 0 40px;
            display: block;
            overflow: hidden;
            border-radius: 50%;
            color: $inverse-color;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 40px;
            height: 40px;
            background: $brand-inverse;
            img{
                display: block;
                height: 40px;
                width: 40px;

                object-fit: cover;
                object-position: 50% 50%;
                font-family: "object-fit: cover; object-position: 50% 50%;";
            }
        }
        &-content{
            position: relative;
            flex-basis: 0;
            flex-grow: 1;
            padding: 10px 10px 0;
            max-width: 100%;
            box-sizing: border-box;
        }
        &-name{
            display: inline;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;
        }
        &-meta{
            color: $gray;
            a{
                color: inherit;
                &:hover{
                    color: $link-hover-color;
                }
            }
        }
        &-icon{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;
            font-size: 24px;
            height: 40px;
            width: 40px;
            &--vk{
                color: vkontakte-color;
            }
            &--facebook{
                color: facebook-color;
            }
            &--twitter{
                color: twitter-color;
            }
            &--instagram{
                color: instagram-color;
            }
            &--telegram{
                color: telegram-color;
            }
            .icon{
                display: block;
            }
        }
    }
    &__text{
        padding-left: 10px;
        padding-right: 10px;
        p{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__lead{
        font-size: 22px;
        line-height: 1.36;
    }
    &__gallery{
        cursor: pointer;
        margin-bottom: 10px;
    }
    &__more{
        position: relative;
        text-align: center;
        background: $body-bg;
        &:before{
            position: absolute;
            top: -70px;
            left: 0;
            right: 0;
            user-select: none;
            pointer-events: none;
            content: '';
            display: block;
            height: 70px;
            width: 100%;
            background-image: linear-gradient(180deg, rgba(240, 240, 240, 0) 0%, rgba(0, 0, 0, 0) 48%, #000000 100%);
            opacity: 0.08;
        }
        .btn{
            position: relative;
            z-index: 1;
            transform: translate(0, -50%);
        }
    }
}

@import 'post-responsive';
// END post