.footer {
    $_: '.footer';
    @media (min-width: 660px) {
        padding-top: 34px;
        padding-bottom: 35px;
        flex-direction: row;
        justify-content: space-between;
        &__logo{
            margin: 0;
            flex: 0 0 auto;
            width: auto;
        }
        &__contacts{
            margin-bottom: 0;
            &--phone{
                display: none;
            }
            &--email{
                display: none;
            }
        }
    }
    @media (min-width: 800px) {
        &__contacts{
            &--phone{
                display: block;
            }
        }
    }
    @media (min-width: 960px) {
        &__contacts{
            &--email{
                display: block;
            }
        }
        &__nav{
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}