mixin footer(data)
    // START footer 
    footer.page__footer(role="info")
        div.page__container
            div.footer
                div.footer__logo
                    div.logo
                        b.logo__primary Российский Союз спасателей
                        span.logo__secondary Московское городское региональное отделение
                    //- div
                        a(target="_blank", href="./privacy-policy.html", title="Политика конфиденциальности") Политика конфиденциальности
                div.footer__contacts.footer__contacts--phone
                    div.contacts
                        div.contacts__item 
                            b.contacts__title
                                a(href=contacts.phone.value)= contacts.phone.text
                            div.contacts__text контактный телефон

                div.footer__contacts.footer__contacts--email
                    div.contacts
                        div.contacts__item 
                            b.contacts__title
                                a(href=contacts.email.value)= contacts.email.text
                            div.contacts__text e-mail для связи

                div.footer__contacts.footer__contacts--social
                    include ../contacts/social.pug
                        
    // END footer
