// START footer style
.footer {
    $_: '.footer';
    padding-top: 34px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    &__logo{
        margin-bottom: 19px;
        flex: 0 0 100%;
        width: 100%;
    }
    &__contacts{
        &--phone{
            margin-bottom: 4px;
        }
        &--email{
            margin-bottom: 21px;
        }
    }
}

@import 'footer-responsive';
// END footer style
