.about {
    $_ : '.about';
    @media (min-width: 660px){
        &--block{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 0 0 15px;
            #{$_}__img{
                margin-right: 40px;
                margin-left: 0;
                flex: 0 0 200px;
                max-width: 200px;
            }
            #{$_}__content{
                flex-grow: 1;
                flex-basis: 1;
                width: 100%;
            }
            #{$_}__title{
                margin-top: 25px;
            }
            #{$_}__meta{
                margin-top: 15px;
            }
        }
        &--detail{
            #{$_}__card{
                padding: 30px;
            }
            #{$_}__title{
                margin-bottom: 20px;
            }
            #{$_}__text{
                ul{
                    margin-top: 20px;
                    padding-left: 30px;
                    li{
                        margin-bottom: 20px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    @media (min-width: 960px) {
        &--block{
            padding: 20px 0 25px;
            #{$_}__img{
                flex: 0 0 280px;
                max-width: 280px;
            }
            #{$_}__lead{
                margin-bottom: 20px;
            }
            #{$_}__meta{
                &-item{
                    margin-right: 20px;
                }
            }

        }
        &--detail{
            #{$_}__content{
                margin-bottom: 70px;
            }
            #{$_}__card{
                position: relative;
                margin-left: 160px;
            }
            #{$_}__img{
                display: block;    
                position: absolute;
                left: -261px;
                top: 86px;
                z-index: -1;
                &--copter{
                    top: auto;
                    left: auto;
                    right: 0;
                    bottom: -228px;
                }
            }
            #{$_}__blockquote{
                margin-bottom: 40px;
            }
            #{$_}__text{
                p{
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                ul{
                    padding-left: 50px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}