// START about style
.about {
    $_: '.about';
    &--block{
        padding: 20px $grid-gutter-width/2 30px;
        #{$_}__body{
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
        #{$_}__img{
            max-width: 280px;
            margin: 0 auto 20px;
            img{
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        #{$_}__title{
            padding: 0;
            margin-bottom: 10px;
        }
        #{$_}__text{
            padding: 0;
            font-size: 14px;
            line-height: 1.45;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__lead{
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 1.25;
        }
        #{$_}__meta{
            margin-top: 15px;
            &-item{
                margin-bottom: 15px;
            }
            &-title{
                display: block;
                margin-bottom: 5px;
                font-size: 36px;
                font-weight: 300;
                line-height: 1.1;
            }
            &-text{
                color: $gray;
                font-size: 14px;
                line-height: 1.45;
                p{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .row__col{
                &:last-child{
                    #{$_}__meta{
                        &-item{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    &--detail{
        #{$_}__content{
            position: relative;
        }
        #{$_}__card{
            @extend .card;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 40px;
            &, &:hover{
                box-shadow: none;
            }
        }
        #{$_}__title{
            @extend .h2;
        }
        #{$_}__blockquote{
            margin-top: 0;
            margin-bottom: 30px;
        }
        #{$_}__img{
            display: none;
        }
        #{$_}__text{
            ul{
                margin-top: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__timeline{
            margin-bottom: 40px;
            &-title{
                margin-bottom: 30px;
            }
        }
        #{$_}__document{
            &-title{
                margin-bottom: 30px;
            }
        }
    }
}

@import 'about-responsive';

// END about style