.gallery{
    $_: '.gallery';
    &__img, &__video{
        position: relative;
        margin-bottom: 4px;
        img{
            display: block;
            height: auto;
            width: auto;
            max-width: 100%;
        }
    }
    &__img{
        // START gallery img modificator square
        &--square{
            &:before{
                content: '';
                display: block;
                width: 100%;
                padding-bottom: 100%;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                max-width: none;
                object-fit: cover;
                object-position: 50% 50%;
                font-family: "object-fit: cover; object-position: 50% 50%;";
            }
        }
    }
    &__video{
        &:before{
            content: '';
            display: block;
            padding-bottom: 56.25%;
            width: 100%;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            font-family: "object-fit: cover; object-position: 50% 50%;";
        }
    }
    &__play{
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        height: 90px;
        width: 90px;
        font-size: 90px;
        background-color: rgba($black, .5);
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            margin-left: .089em;
            width: 0;
            height: 0;
            border-top: .19em solid transparent;
            border-left: .27em solid rgba($white, .9);
            border-bottom: .19em solid transparent;
        }
    }
    &__meta{
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        padding: 2px 10px;
        color: $white;
        font-size: 12px;
        line-height: 1.25;
        opacity: .6;
        background-color: $black;
    }
    &__more{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: rgba($black, .6);
        &:before{
            content: attr(data-count);
            display: block;
            color: $inverse-color;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.25;
        }
    }
    &__row{
        margin-left: -2px;
        margin-right: -2px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__col{
        flex-basis: 0;
        flex-grow: 1;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 4px;
        #{$_}__img, #{$_}__video{
            margin: 0;
        }
    }
    &--programm{
        margin: 0;
        #{$_}__row{
            margin-left: -$grid-gutter-width / 4;
            margin-right: -$grid-gutter-width / 4;
            justify-content: center;
        }
        #{$_}__col{
            padding-left: $grid-gutter-width / 4;
            padding-right: $grid-gutter-width / 4;
            padding-bottom: $grid-gutter-width / 2;
            flex: 0 0 100%;
            max-width: 310px;
        }
        #{$_}__img{
            position: relative;
            &:before{
                content: '';
                display: block;
                padding-bottom: 66.66%;
                width: 100%;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: block;
                max-width: 100%;
                width: auto;
                object-fit: cover;
                object-position: 50% 50%;
                font-family: "object-fit: cover; object-position: 50% 50%;";
            }
        }
    }
}

@import 'gallery-responsive';