.gallery{
    $_: '.gallery';
    @media (min-width: 480px) {}
    @media (min-width: 800px) {
        &--programm{
            #{$_}__row{
                margin-left: -$grid-gutter-width / 2;
                margin-right: -$grid-gutter-width / 2;
            }
            #{$_}__col{
                padding-left: $grid-gutter-width / 2;
                padding-right: $grid-gutter-width / 2;
                padding-bottom: $grid-gutter-width;
                max-width: 320px;
            }
        }
    }
}