// START header style
.header{
    $_: '.header';
    &__top{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 9px;
    }
    &__nav{
        position: relative;
        padding: 0 20px;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 4px 6px rgba($black, .1);

        // collapse;
        opacity: 1 !important;
        min-height: 50px !important;
        max-height: 50px;
        transition: $transition-collapse;
        &.is-open{
            height: auto;
        }
        &-toggle{
            position: absolute;
            left: 10px;
            top: 5px;
            opacity: 1;
            z-index: 110;
            & > * {
                pointer-events: none;
            }
            &.is-active{
                opacity: .6;
                span{
                    width: 0;
                    opacity: 0;
                    &:first-child{
                        width: 20px;
                        opacity: 1;
                        transform: translate(0px, 5px) rotate(-45deg);
                    }
                    &:last-child{
                        width: 20px;
                        opacity: 1;
                        transform: translate(0px, -5px) rotate(45deg);
                    }
                }
            }
        }
    }
    &__contacts{
        &--phone{
            display: none;
        }
        &--email{
            display: none;
        }
        &--social{
            display: none;
        }
    }
}

@import 'header-responsive'
// END header style
