.header {
    $_: '.header';
    @media (min-width: 660px) {
        &__top{
            justify-content: space-between;
        }
        &__nav{
            padding-left: 30px;
            padding-right: 30px;
            &-toggle{
                display: none;
            }
        }
        &__contacts{
            &--social{
                display: block;
            }
        }
    }
    @media (min-width: 800px) {
        &__contacts{
            &--phone{
                display: block;
            }
        }
    }
    @media (min-width: 960px) {
        &__contacts{
            &--email{
                display: block;
            }
        }
        &__nav{
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}