mixin header(data)
    // START header 
    header.page__header(role="banner")
        div.page__container
            div.header
                div.header__top
                    div.header__logo
                        div.logo
                            b.logo__primary Российский Союз спасателей
                            span.logo__secondary Московское городское региональное отделение
                    div.header__contacts.header__contacts--phone
                        div.contacts
                            div.contacts__item 
                                b.contacts__title
                                    a(href=contacts.phone.value)= contacts.phone.text
                                div.contacts__text контактный телефон

                    div.header__contacts.header__contacts--email
                        div.contacts
                            div.contacts__item 
                                b.contacts__title
                                    a(href=contacts.email.value)= contacts.email.text
                                div.contacts__text e-mail для связи

                    div.header__contacts.header__contacts--social
                        include ../contacts/social.pug
                nav.header__nav(id="headerNav")
                    button.header__nav-toggle.btn.btn--close(role="button", data-toggle="nav", data-target="#headerNav", title="меню сайта")
                        div.btn__icon.icon.icon-menu
                            span
                            span
                            span
                    ul.nav.nav--header
                        li.nav__item
                            a.nav__link(href="./index.html", title="Главная", class=data.pageName == 'defaults' ? 'is-active': '') Главная
                        li.nav__item
                            a.nav__link(href="./about.html", title="О союзе", class=data.pageName == 'about' ? 'is-active': '') О союзе
                        li.nav__item
                            a.nav__link(href="./activity.html", title="Деятельность", class=data.pageName == 'activity' ? 'is-active': '') Деятельность
                        li.nav__item
                            a.nav__link(href="./programms.html", title="Программы", class=data.pageName == 'programs' ? 'is-active': '') Программы
                        li.nav__item
                            a.nav__link(href="./services.html", title="Услуги", class=data.pageName == 'services' ? 'is-active': '') Услуги
                        li.nav__item
                            a.nav__link(href="./contacts.html", title="Контакты", class=data.pageName == 'contacts' ? 'is-active': '') Контакты

                        
    // END header
