.btn{
    $_: '.btn';
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    border: $border-width solid $brand-primary;
    padding: 10px 30px;
    color: $body-color;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-family-base;
    line-height: 1.3;
    text-decoration: none;
    background-color: $brand-primary;
    transition: $transition-base;

    &:before, &:after{
        pointer-events: none;
        position: absolute;
        top: -1px;
        left: -1px;
        content: '';
        display: block;
        border-top: 2px solid;
        border-left: 2px solid;
        width: 20px;
        height: 20px;
        opacity: .4;
        transition: all .05s ease-in-out;
    }
    &:after{
        transform: rotate(180deg);
        top: auto;
        left: auto;
        right: -1px;
        bottom: -1px;
    }

    // Share hover and focus styles
    &:hover, &.is-hover{
        &, &:focus{
            border-color: lighten($brand-primary, 20%);
            color: $body-color;
            text-decoration: none;
            background: lighten($brand-primary, 20%);
            &:before{
                top: -3px;
                left: -3px;
            }
            &:after{
                bottom: -3px;
                right: -3px;
            }
        }
    }

    &:focus, 
    &.focus{
        outline: 0;
    }

    // Disabled comes first so active can properly restyle
    &:disabled, 
    &.is-disabled{
        cursor: not-allowed;
        opacity: .65;
    }
    &:active,
    &.is-active {
        background-image: none;
    }
    &__icon{
        margin-top: -3px;
        margin-bottom: -3px;
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
    }
    &--close{
        padding: 10px;
        border-color: $white;
        color: $body-color;
        background: $white;
        opacity: .6;
        #{$_}__icon{
            margin: -3px;
        }
        &:before, &:after{
            content: none;
        }
        &:hover, &.is-hover{
            &, &:focus{
                border-color: $white;
                color: $body-color;
                background: $white;
                opacity: 1;
            }
        }
    }
    &--link{
        border: 0;
        padding-left: 0;
        padding-right: 0;
        color: $link-color;
        font-weight: 400;
        background: transparent;
        &:hover, &.is-hover{
            &, &:focus{
                color: $link-hover-color;
                background: transparent;
            }
        }
        &:before, &:after{
            content: none;
        }
    }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn--block {
        width: 100%;
    }
}


@import 'btn-responsive';