// START card style
.card{
    $_: '.card';
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    background-color: $white;
    transition: $transition-base;
    &:hover, &.is-hover{
        &, &:focus{
            box-shadow: 0 14px 17px rgba(35, 37, 54, 0.1);
        }
    }
}

@import 'card-responsive';
// END card style