.form {
    $_: ".form";
    @media (min-width: 660px) {
        &__row{}
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
            &--auto{
                flex: 0 0 auto;
                width: auto;
            }
        }
        &__action {
            #{$_}__col{
                
                &--auto{
                    flex: 0 0 auto;
                    max-width: none;
                    width: auto;
                }
                &--strench{
                    flex-basis: 0;
                    flex-grow: 1;
                    width: 100%;
                    max-width: none;
                }
            }
        }
    }
}

