// START form style
.form {
    $_: ".form";
    &__group {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        &--error{
            color: $brand-danger;
            #{$_}__control{
                &, &:focus, &.is-focus{
                    color: $brand-danger;
                    border-color: $brand-danger !important;
                }
            }
            #{$_}__text{
                &--help{
                    color: $brand-danger !important;
                }
            }
        }
    }
    &__control {
        display: block;
        width: 100%; // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
        // height: $input-height;
        padding: $input-btn-padding-y 0;
        font-size: $font-size-base;
        line-height: $input-btn-line-height;
        color: $input-color;
        background-color: $input-bg; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
        background-image: none;
        background-clip: padding-box;
        border: 0 !important;
        border-bottom: $border-width solid $input-border-color !important;
        transition: $input-transition;
        &::-ms-expand {
            background-color: transparent;
            border: 0;
        } // Customize the `:focus` state to imitate native WebKit styles.
        &::placeholder {
            color: $input-placeholder-color;
            opacity: 1;
        } // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &.is-disabled,
        &[readonly] {
            background-color: $input-disabled-bg; 
            opacity: 1;
        }
        &:focus,
        &.is-focus {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: none;
        }
    }
    &__label {
        display: block;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
    }
    &__text{
        display: block;
        margin-top: 2px;
        color: $gray;
        font-size: 12px;
    }
    &__col{
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 20px;
        #{$_}__group{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@import 'form-responsive';
// END form style
