/* START icon style */
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &__octahedron{
        fill: $brand-primary;
    }
    &.\--left{
        transform: rotate(0);
    }
    &.\--top{
        transform: rotate(90deg);
    }
    &.\--right{
        transform: rotate(180deg);
    }
    &.\--bottom{
        transform: rotate(270deg);
    }
}
/* END icon style */

.icon-menu{
    position: relative;
    opacity: 1;
    span{
        position: absolute;
        left: 2px;
        top: 11px;
        display: block;
        height: 2px;
        width: 20px;
        background: $gray-dark;
        transition: $transition-base;
        &:first-child{
            top: 6px;
        }
        &:last-child{
            top: auto;
            bottom: 6px;
        }
    }
    &.is-active{
        span{
            width: 0;
            opacity: 0;
            &:first-child{
                width: 20px;
                opacity: 1;
                transform: translate(0px, 5px) rotate(-45deg);
            }
            &:last-child{
                width: 20px;
                opacity: 1;
                transform: translate(0px, -5px) rotate(45deg);
            }
        }
    }
}