// START logo
.logo{
    $_: '.logo';
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.45;
    &__link{
        display: block;
    }
    &__img{
        display: block;
        max-width: 100%;
    }
    &__primary{
        display: block;
        color: $body-color;
        font-weight: 700;
    }
    &__secondary{
        display: block;
        color: $gray;
        font-weight: 400;
    }
    &--content{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        #{$_}__img{
            margin: -5px 20px 0 0;
            flex: 0 0 60px;
            width: 60px;
        }
        #{$_}__content{
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            font-size: 14px;
        }
        #{$_}__primary{
            font-weight: 400;
            b{
                font-weight: 700;
            }
        }
    }
}
// END logo