// STRAT modal
.modal{
    $_: '.modal';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    outline: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1050;
    &.is-open{
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 1;
        visibility: visible;
        #{$_}__dialog{
            transform: translate(0,0) !important
        }
    }
    &__dialog{
        position: relative;
        margin: $grid-gutter-width / 2;
        max-width: 620px;
        transform: translate(0,-25%);
        transition: transform .3s ease-out;
    }
    &__content{
        position: relative;
        @extend .card;
        margin: 0;
        padding: 0;
        box-shadow: 0 14px 17px rgba(35, 37, 54, 0.1);
    }
    &__header{
        padding: $grid-gutter-width $grid-gutter-width 0;
    }
    &__body{
        padding: 0 $grid-gutter-width;
    }
    &__footer{
        padding: 0 $grid-gutter-width;
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
        & + #{$_}__header, & + #{$_}__body{
            padding-right: 60px;
        }
    }
    &__message{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: $white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transition-fade;
        &.is-open{
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }
    }
    &__img{
        margin-bottom: 20px;
    }
    &__icon{
        font-size: 120px;
    }
    &__title{
        @extend .h2;
    }
}

@import 'modal-responsive';
// END modal