.modal{
    $_: '.modal';
    @media (min-width: 660px) {
        &__dialog{
            margin: 10% auto;
        }
        &__content{
        }
        &__header{
            padding: 30px 2*$grid-gutter-width 0;
        }
        &__body{
            padding: 0 2*$grid-gutter-width $grid-gutter-width/2;
        }
        &__footer{
            padding: 0 $grid-gutter-width $grid-gutter-width/2;
        }
    }
    
}