.nav{
    $_: '.nav';
    @media (min-width: 660px) {
        &--header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #{$_}__item{
                padding-left: 0;
                padding-right: 0;
                &, &:last-child{
                    margin: 0;
                }
            }
        }
    }
}
