// START nav
.nav{
    $_: '.nav';
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    &, ul{
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            &:before{
                content: none;
            }
        }
    }
    &--header{
        display: flex;
        flex-direction: column;
        text-align: center;
        #{$_}__item{
            margin: 0;
            padding: 15px 40px;
        }
        #{$_}__link{
            position: relative;
            display: inline-block;
            vertical-align: top;
            color: $gray;
            &:before{
                pointer-events: none;
                position: absolute;
                top: 24px;
                left: 1px;
                right: 1px;
                content: '';
                display: block;
                height: 2px;
                background: $brand-primary;
                opacity: 0;
            }
            &.is-active{
                color: $gray-dark;
                font-weight: 700;
                &:before{
                    opacity: 1;
                }
            }
        }
    }
    &--tabs{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        #{$_}__title{
            display: block;
            margin-right: 20px;
            margin-bottom: 10px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;
        }
        #{$_}__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        #{$_}__icon{
            position: relative;
            display: inline-block;
            margin-top: -2px;
            margin-right: 6px;
            vertical-align: middle;
            color: $white;
            font-size: 20px;
            background: $brand-danger;
        }
        #{$_}__link{
            position: relative;
            display: block;
            margin-right: 10px;
            border: 1px solid $border-color;
            white-space: nowrap;
            padding: 8px 9px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.45;
            background-color: $white;
            transition: $transition-base;
            &:last-child{
                margin-right: 0;
            }
            &.is-active{
                cursor: default;
                pointer-events: none;
            }
            &.is-active, &:hover{
                display: block;
                border-color: $brand-primary;
                color: $body-color;
                background-color: $brand-primary;
            }
        }
    }
}

@import 'nav-responsive';
// END nav