// STRAT overlay
.overlay{
    $_: '.overlay';
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    background: $black;
    z-index: 1040;
    transition: $transition-fade;
    &.is-open{
        display: block;
        opacity: .5;
        visibility: visible;
    }
}
// END overlay