.row{
    $_: '.row';
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    &__col{
        position: relative;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
        max-width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        &--auto{
            flex: 0 0 auto;
            width: auto;
        }
    }
}