.timeline{
    $_: '.timeline';
    @media (min-width: 660px) {
        &__item{
            padding-bottom: 20px;
            &:last-child{
                padding-bottom: 0;
                &:before{
                    content: none;
                }
                #{$_}__content{
                    margin-bottom: 0;
                }
            }
        }
        &__date{
            & + #{$_}__content{
                padding: 60px 30px 30px;
            }
        }
        &__content{
            margin-bottom: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}


// @import 'time-responsive';