// START timelime
.timeline{
    $_: '.timeline';
    max-width: 780px;
    &__item{
        position: relative;
        padding-bottom: 10px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            display: block;
            overflow: hidden;
            width: 2px;
            background: $brand-primary;
        }
        &:last-child{
            padding-bottom: 0;
            &:before{
                content: none;
            }
            #{$_}__content{
                margin-bottom: 0;
            }
        }
    }
    &__date{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.4;
        height: 50px;
        background: $brand-primary;
        & + #{$_}__content{
            padding: 60px 20px 30px;
        }
    }
    &__content{
        @extend .card;
        padding: 30px 20px 30px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__title{
        @extend .h3;
    }
    &__text{
        font-size: 14px;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@import 'timeline-responsive';
// END timelime