//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.25;
    color: inherit;
}

h1, .h1 {
    font-size: 36px;
}
h2, .h2 {
	font-size: 24px;
    font-weight: 400;
}
h3, .h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
}
h4, .h4 {
    font-size: 16px;
}
h5, .h5,
h6, .h6 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.45;
}

p{
    margin-bottom: 10px;
}

.lead {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;

}

//
// Horizontal rules
//

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid lighten($black, 96%);
}


//
// text
//
.text{
    $_ : '.text';
    &--secondary{
        color: $gray;
    }
    &--center{
        text-align: center;
    }
    &--left{
        text-align: left;
    }
    &--right{
        text-align: right;
    }
}



//
// Lists
//

ul{
    list-style: none;
    padding: 0 0 0 40px;
    margin: 0 0 20px;
	li{
        position: relative;
        margin-bottom: 20px;
        &:before{
            position: absolute;
            top: 7px;
            left: -28px;
            content: '';
            display: block;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            background: $brand-primary;
        }
        &:last-child{
            margin-bottom: 0;
        }
        p{
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}

@import '_type-responsive';