//
// Helper class
//

// background
.bg{
    background-color: $white;
    &--primary{
        background-color: $brand-primary;
    }
    &--danger{
        background-color: $brand-danger;
    }
    &--info{
        background-color: $brand-info;
    }
    &--inverse{
        background-color: $brand-inverse;
    }
}

// text
.text{
    &--primary{
        color: $brand-primary;
    }
    &--secondary{
        color: $gray;
    }
    &--danger{
        color: $brand-danger;
    }
    &--info{
        color: $brand-info;
    }
    &--inverse{
        color: $brand-inverse;
    }

    // align
    &--left{
        text-align: left;
    }
    &--right{
        text-align: right;
    }
    &--justify{
        text-align: justify;
    }
    &--center{
        text-align: center;
    }
    &--ellipsis{
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

// helpers
.mrn{
    &--bottom{
        margin-bottom: 0;
    }
}

// data

[data-toggle="link"], [data-dismis]{
    cursor: pointer;
    user-select: none;
    & > * {
        pointer-events: none;
    }
}