// START blockquote
.blockquote{
    $_: '.blockquote';
    margin: 40px auto;
    text-align: center;
    max-width: 780px;
    &:before, &:after{
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 2px;
        width: 60px;
        background: $brand-primary;
    }
    &:before{
        margin-bottom: 22px;
    }
    &:after{
        margin-top: 20px;
    }
    &__title{
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25;
    }
    &__text{
        p{
            margin-bottom: 10px;
        }
    }
}

@import 'blockquote-responsive';
// END blockquote