// START blockquote
.blockquote{
    $_: '.blockquote';
    @media (min-width: 660px) {
        &__text{
            p{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (min-width: 960px) {
        margin: 20px auto 60px;
        &__title{
            display: block;
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 1.38;
        }
    }
}
// END blockquote