.services {
    $_: '.services';
    @media (min-width: 660px) {
        &__row{
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
        }
        // modificator
        &--block{
            background-image: url("%=static=%assets/services/services__bg--tablet.jpg");
            background-image: image-set(
                "%=static=%assets/services/services__bg--tablet.jpg" 1x,
                "%=static=%assets/services/services__bg--tablet@2x.jpg" 2x
            );
            background-size: cover;
        }
    }
    @media (min-width: 960px) {
        &__item{
            &:hover{
                z-index: 100;
                &, &:focus{
                    #{$_}__content{
                        box-shadow: 0 14px 17px rgba(35, 37, 54, 0.1);
                    }
                    #{$_}__action{
                        height: 60px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        // modificator
        &--block{
            background-image: url("%=static=%assets/services/services__bg.jpg");
            background-image: image-set(
                "%=static=%assets/services/services__bg.jpg" 1x,
                "%=static=%assets/services/services__bg@2x.jpg" 2x
            );
            background-size: cover;
            #{$_}__footer{
                padding-top: 10px;
                text-align: left;
            }
        }
    }
}