// START services
.services {
    $_: '.services';
    padding-bottom: 20px;
    &__row{
    }
    &__col{
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    &__item{
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 460px;
        min-height: 120px;
        height: 120px;
    }
    &__content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 0;
        color: $body-color;
        z-index: 1;
        @extend .card;
    }
    &__img{
        display: block;
        flex: 0 0 auto;
    }
    &__body{
        width: 100%;
    }
    &__icon{
        display: block;
        align-items: center;
        font-size: 120px;
    }
    &__title{
        display: block;
        margin: 0;
        font-weight: 700;
        &--block{
            margin-bottom: 30px;
        }
    }
    &__text{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding: 0 10px;
        min-height: 80px;
        width: 100%;
        box-sizing: border-box;
    }
    &__action{
        overflow: hidden;
        padding: 0 10px;
        height: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;
        transition: $transition-base;
    }

    // modificator
    &--block{
        padding-top: 42px;
        padding-bottom: 30px;
        color: $inverse-color;
        background-color: $brand-inverse;
        background-image: url("%=static=%assets/services/services__bg--mobile.jpg");
        background-image: image-set(
            "%=static=%assets/services/services__bg--mobile.jpg" 1x,
            "%=static=%assets/services/services__bg--mobile@2x.jpg" 2x
        );
        background-size: cover;
        #{$_}__footer{
            padding-top: 10px;
            text-align: center;
        }
    }
}


@import 'services-responsive';
// END services