mixin services(data)
    div.services__item
        div.services__content
            div.services__img
                != pugHelpers.Icon.call(locals, {iconName: data.icon, className: 'services__icon icon icon-' + data.icon , iconWidth: '120', iconHeight: '120'})
            div.services__body
                div.services__text
                    h2.services__title.h4= data.title
                div.services__action
                    button.btn(data-target="#modalFormServices", data-toggle="modal", data-value=data.title, type="button", role="button") ОТПРАВИТЬ ЗАЯВКУ