// START contacts
.contacts {
    $_: '.contacts';
    &__item{
        a{
            color: inherit;
            &:hover{
                &, &:focus{
                    color: $link-hover-color;
                }
            }
        }
    }
    &__title{
        display: block;
        font-size: 12px;
        font-weight: 700;
    }
    &__text{
        display: block;
        color: $gray;
        font-size: 12px;
        font-weight: 400;
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 25px;
        #{$_}__link{
            display: block;
            border-radius: 50%;
            padding: 4px;
            font-size: 26px;
            width: 1em;
            height: 1em;
            background: $inverse-bg;
            box-sizing: border-box;
            margin-left: 5px;
            margin-right: 5px;
            &, &:hover{
                &, &:focus{
                    color: $inverse-color;
                }
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            .icon{
                display: block;
                width: 100%;
                height: 100%;
            }
            &--vk{
                background: vkontakte-color;
            }
            &--facebook{
                background: facebook-color;
            }
            &--twitter{
                background: twitter-color;
            }
            &--instagram{
                background: instagram-color;
            }
            &--telegram{
                background: telegram-color;
            }
        }
    }
    &--social{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &--document{
        margin-bottom: 20px;
        #{$_}__title{
            @extend .h4;
        }
        #{$_}__col{
            padding-bottom: 10px;
            flex: 0 0 320px;
            max-width: 320px;
        }
    }
    &--requisites{
        margin-bottom: 10px;
        #{$_}__col{
            padding-bottom: 10px;
            flex: 0 0 320px;
            max-width: 320px;
        }
        #{$_}__title{
            @extend .h4;
        }
        #{$_}__text{
            font-size: 14px;
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &--text{
        #{$_}__text{
            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &--detail{
        margin-bottom: 30px;
        #{$_}__item{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            &--social{
                #{$_}__title{
                    margin-bottom: 10px;
                }
            }
        }
        #{$_}__title{
            margin-bottom: 0;
            font-size: 14px;
        }
        #{$_}__text{
            font-size: 14px;
        }
        #{$_}__nav{
            margin-left: 0;
        }
        #{$_}__row{
            margin-left: 0;
            margin-right: 0;
        }
        #{$_}__col{
            padding-left: 0;
            padding-right: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
        #{$_}__content{
            margin-bottom: 0;
            height: 100%;
            &:hover{
                &, &:focus{
                    box-shadow: none;
                }
            }
        }
        #{$_}__map{
            min-height: 296px;
            background: $inverse-bg;
        }
    }
}

@import 'contacts-responsive';
// END contacts