// START contacts
.contacts {
    $_ : '.contacts';
    @media (min-width: 660px){
        &--detail{
            #{$_}__row{
                margin-left: 0;
                margin-right: 0;
            }
            #{$_}__col{
                padding-left: 0;
                padding-right: 0;
                display: flex;
                flex: 0 0 50%;
                max-width: 50%;
            }
            #{$_}__content{
                margin-bottom: 0;
                &:hover{
                    &, &:focus{
                        box-shadow: none;
                    }
                }
            }
            #{$_}__map{
                min-height: auto;
                width: 100%;
            }
        }
    }
}
// END contacts