div.contacts.contacts--social
    div.contacts__item 
        b.contacts__title Мы в соцсетях
        div.contacts__text присоединяйтесь
    div.contacts__nav
        a.contacts__link.contacts__link--vk(href="https://vk.com/club28054747", title="Мы в Вконтакте")
            != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '24', iconHeight: '24'})
        a.contacts__link.contacts__link--facebook(href="https://www.facebook.com/ruor.msk.ru/", title="Мы в Facebook")
            != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'icon icon-facebook', iconWidth: '24', iconHeight: '24'})
        a.contacts__link.contacts__link--twitter(href="https://twitter.com/RUOR_org", title="Мы в Twitter")
            != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '24', iconHeight: '24'})
        a.contacts__link.contacts__link--instagram(href="#", title="")
            != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'icon icon-instagram', iconWidth: '24', iconHeight: '24'})
        a.contacts__link.contacts__link--telegram(href="#", title="")
            != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'icon icon-telegram', iconWidth: '24', iconHeight: '24'})