// START modal
div.modal(id="modalFormProgramms")
    div.modal__dialog
        div.modal__content
            button.modal__close.btn.btn--close(data-dismis="modal", type="button", role="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
            div.modal__header
                b.modal__title Заявка на прохождение программы
            div.modal__body
                p Оставьте заявку на прохождение программы. Мы свяжемся с вами и расскажем об условиях, времени и месте проведения обучения.
                div.form
                    form.form__content(id="formProgramm", action="")
                        div.form__group
                            label.form__label Фамилия и имя
                            input.form__control(name="formServicesName", type="text", value="", placeholder="ФИО", data-validate-field="name", required)
                        div.form__row.row
                            div.form__col.row__col
                                div.form__group
                                    label.form__label Номер телефона
                                    input.form__control(id="formServicesTel", name="formServicesTel", type="tel", value="", placeholder="+7 (000) 000-00-00", data-validate-field="phone", required)
                            div.form__col.row__col
                                div.form__group
                                    label.form__label E-mail
                                    input.form__control(name="formServicesEmail", type="email", value="", placeholder="example@example.com", data-validate-field="email", required)
                        div.form__action
                            input(name="formHiddenValue", type="hidden", value="", hidden)
                            div.form__row.row
                                div.form__col.form__col--auto.row__col
                                    button.btn(type="submit", role="button") Отправить заявку
                                div.form__col.form__col--strench.row__col
                                    div.form__text 
                                        | Нажимая кнопку «Отправить» вы автоматически соглашаетесь с 
                                        a(href="./privacy-policy" title="Прочитать политику безопсности") политикой безопастноти
            div.modal__message
                div.modal__img
                    != pugHelpers.Icon.call(locals, {iconName: 'art-send', className: 'modal__icon icon icon-art-send', iconWidth: '24', iconHeight: '24'})
                b.modal__title Ваша заявка отправлена

// END modal

// START modal
div.modal(id="modalFormServices")
    div.modal__dialog
        div.modal__content
            button.modal__close.btn.btn--close(data-dismis="modal", type="button", role="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'btn__icon icon icon-close', iconWidth: '24', iconHeight: '24'})
            div.modal__header
                b.modal__title Оставить заявку на услугу
            div.modal__body
                b.h4 Демонтаж опасно нависающих конструкций
                p Мы свяжемся с вами и подробно расскажем о наших услугах и условиях оказания
                div.form
                    form.form__content(id="formServices", action="")
                        div.form__group
                            label.form__label Фамилия и имя
                            input.form__control(name="formServicesName", type="text", value="", placeholder="ФИО", data-validate-field="name", required)
                        div.form__row.row
                            div.form__col.row__col
                                div.form__group
                                    label.form__label Номер телефона
                                    input.form__control(name="formServicesTel", type="tel", value="", placeholder="+7 (000) 000-00-00", data-validate-field="phone", required)
                            div.form__col.row__col
                                div.form__group
                                    label.form__label E-mail
                                    input.form__control(name="formServicesEmail", type="email", value="", placeholder="example@example.com", data-validate-field="email", required)
                        div.form__action
                            input(name="formHiddenValue", type="hidden", value="", hidden)
                            div.form__row.row
                                div.form__col.form__col--auto.row__col
                                    button.btn(type="submit", role="button") Отправить заявку
                                div.form__col.form__col--strench.row__col
                                    div.form__text 
                                        | Нажимая кнопку «Отправить» вы автоматически соглашаетесь с 
                                        a(href="./privacy-policy" title="Прочитать политику безопсности") политикой безопастноти
            div.modal__message
                div.modal__img
                    != pugHelpers.Icon.call(locals, {iconName: 'art-send', className: 'modal__icon icon icon-art-send', iconWidth: '24', iconHeight: '24'})
                b.modal__title Ваша заявка отправлена

// END modal