// START ui navigation
nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="./ui-card.html") Cards
        li.nav__item
            a.nav__link(href="./ui-form.html") Form
// END ui navigation