// START programm
.programm{
    $_: ".programm";
    margin-bottom: 40px;
    &__header{
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    &__teaser{
        &-col{
            flex: 0 0 auto;
            width: auto;
            max-width: none;
            &:first-child{
                margin-right: auto;
            }
        }
        p{
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    &__action{
        margin-top: 15px;
    }
    &__nav{
        display: block;
        margin-bottom: 10px;
    }
    &__title{
        display: block;
        margin-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    &__time{
        margin-bottom: 20px;
        &-title{
            display: block;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.1;
        }
        &-text{
            display: block;
            position: relative;
            margin-top: 5px;
            color: $gray;
            white-space: nowrap;
        }
    }
    &__gallery{
        margin-bottom: 30px;
    }
    &__img{
        margin: 0 0 10px;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    &__plan{
        margin-bottom: 40px;
        max-width: 780px;
        &-title{
            margin-bottom: 20px;
        }
        &-content{
            @extend .card;
            padding: 30px 20px;
            box-shadow: 0 0 0 !important;
            p{
                margin-bottom: 20px;
            }
            ul{
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__document{
        &-title{
            margin-bottom: 20px;
        }
    }
    &--list{
        padding-top: 40px;
        #{$_}__body{
            @extend .card;
            margin-bottom: 40px;
            padding: 0;
            &:last-child{
                margin-bottom: 0;
            }
        }
        #{$_}__img{
            position: relative;
            display: block;
            margin: 0;
            height: 280px;
            img{
                display: block;
                margin: 0;
                height: auto;
                max-width: 100%;
                transform: translate(0, -40px);
            }
        }
        #{$_}__title{
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;
        }
        #{$_}__content{
            padding: 10px 20px 10px;
        }
        #{$_}__text{
            p{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 20px;
                }
            }
        }
        #{$_}__action{
             margin-top: 20px;
        }
        #{$_}__row{
            align-items: center;
        }
        #{$_}__col{
            padding-bottom: 20px;
        }
    }
}

@import 'programm-responsive';
// END programm
