// Start programms list
div.programm.programm--list

    // START programm 1
    div.programm__body
        div.programm__img
            img( src="%=static=%img/assets/programm/programm__img-1.png",
                srcset="%=static=%img/assets/programm/programm__img-1.png 1x, %=static=%img/assets/programm/programm__img-1@2x.png 2x",
                width="220px",
                alt="Знакомство с профессией для детей")
        div.programm__content
            b.programm__title Знакомство с профессией для детей
            div.programm__text
                p Ваш ребенок любит супергероев и хочет быть похожим на них? Мечтает почувствовать себя настоящим спасателем? Положите начало его блестящей карьере в будущем, укрепив его стремления! Исполните мечту Своего ребенка!
                p Российский союз спасателей рад предложить для Ваших детей однодневную программу «профессия Спасатель»!
            div.programm__action
                div.programm__row.row
                    div.programm__col.row__col.row__col--auto
                        button.btn(data-target="#modalFormProgramms", data-toggle="modal", data-value="Знакомство с профессией для детей", type="button", role="button") ПОДАТЬ ЗАЯВКУ
                    div.programm__col.row__col.row__col--auto
                        a(href="./programm-1.html", title="Подробнее о курсе") Подробнее о курсе
    // START programm 1

    // START programm 2
    div.programm__body
        div.programm__img
            img( src="%=static=%img/assets/programm/programm__img-2.png",
                srcset="%=static=%img/assets/programm/programm__img-2.png 1x, %=static=%img/assets/programm/programm__img-2@2x.png 2x", 
                width="220px", height="320px",
                alt="Знакомство с профессией для детей")
        div.programm__content
            b.programm__title Первая помощь для всех
            div.programm__text
                p Проводим курсы по теме «Первая помощь». На занятиях слушатели приобретают теоретические знания и практические навыки по оказанию первой помощи. Занятия проводят инструктора первой помощи с медицинским образованием и практическим опытом работы в спасательных и медицинских подразделениях.
                p 
                    b По окончании курсов выдаётся удостоверение.
            div.programm__action
                div.programm__row.row
                    div.programm__col.row__col.row__col--auto
                        button.btn(data-target="#modalFormProgramms", data-toggle="modal", data-value="Первая помощь для всех", type="button", role="button") ПОДАТЬ ЗАЯВКУ

                    div.programm__col.row__col.row__col--auto
                        a(href="./programm-2.html", title="Подробнее о курсе") Подробнее о курсе
    // START programm 2
                
// END programms list