// START programm
.programm{
    $_: ".programm";
    @media (min-width: 660px) {
        &__blockquote{
            margin: 20px auto 30px;
        }
        &--list{
            #{$_}__body{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-bottom: 50px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            #{$_}__img{
                flex: 0 0 240px;
                padding-right: $grid-gutter-width;
                width: 240px;
                box-sizing: border-box;
            }
            #{$_}__content{
                position: relative;
                padding-top: 30px;   
                flex-basis: 0;
                flex-grow: 1;
                width: 100%;
            }
        }
    }
    @media (min-width: 800px) {
        &__header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-left: 0;
            padding-right: 0;
        }
        &__nav{
            margin-top: 15px;
        }
        &__img{
            margin-right: 24px;
            margin-bottom: 0;
            flex: 0 0 316px;
            width: 316px;
            img{
                margin: 0;
            }
        }
        &__blockquote{
            margin: 20px auto 30px;
        }
        &__gallery{
            margin-bottom: 10px;
        }
        &__plan{
            &-content{
                padding: 25px 30px;
            }
        }
    }
}
// END programm
