// START responsive
.partners {
    $_ : '.partners';
    padding-top: 30px;
    padding-bottom: 40px;
    background: $white;
    &__title{
        display: block;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
    }
    &__row{
        justify-content: center;
    }
    &__col{
        padding-bottom: 5px;
        flex: 0 0 100%;
        width: 100%;
    }
    &__item{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 190px;
    }
    &__item-title{
        display: block;
        color: $gray;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.35;
        a{
            color: inherit;
            text-decoration: none;
            &:hover{
                color: $link-hover-color;
            }
        }
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
        margin-bottom: 8px;
        img{
            display: block;
            max-width: 100%;
        }
    }
}

@import 'partners-responsive';
// END responsive