mixin partners(data)
    div.partners__item
        figure.partners__img(data-target=data.path, data-toggle="link", data-link="_blank")
            img(src="%=static=%img/assets/partners/" + data.img,
                srcset="%=static=%img/assets/partners/" + data.img + " 1x, %=static=%img/assets/partners/" + data.img2x + " 2x",
                alt=data.title)
        b.partners__item-title 
            a(target="_blank", href=data.path, title=data.title)= data.title