.partners {
    $_: ".partners";
    @media (min-width: 480px) {
        &__col{
            padding-bottom: 25px;
            flex: 0 0 210px;
            width: 210px;
        }
    }
    @media (min-width: 960px) {
        &__col{
            flex-basis: 0;
            flex-grow: 1;
            width: 100%;
        }
    }
}