// START document
.document {
    $_: '.document';
    margin-bottom: - $grid-gutter-width / 2;
    &__row{
        margin-left: - $grid-gutter-width / 4;
        margin-right: - $grid-gutter-width / 4;
    }
    &__col{
        padding-left: $grid-gutter-width / 4;
        padding-right: $grid-gutter-width / 4;
        padding-bottom: $grid-gutter-width / 2;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
        &:last-child{
            padding-bottom: 0;
        }
    }
    &__body{
        @extend .card;
        position: relative;
        display: inline-flex;
        padding: 20px 20px 20px 90px;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        min-height: 90px;
        width: 300px;
        &:before{
            position: absolute;
            top: 20px;
            left: 20px;
            content: '';
            display: block;
            height: 50px;
            width: 50px;
            background: svg-load('../../img/svg/file-pdf.svg', fill=$white) no-repeat 50% 50% $red;
        }
        &--img{
            &:before{
                position: absolute;
                top: 20px;
                left: 20px;
                content: '';
                display: block;
                height: 50px;
                width: 50px;
                background: svg-load('../../img/svg/file-img.svg', fill=$white) no-repeat 50% 50% $green;
            }
        }
        &--doc{
            &:before{
                position: absolute;
                top: 20px;
                left: 20px;
                content: '';
                display: block;
                height: 50px;
                width: 50px;
                background: svg-load('../../img/svg/file-doc.svg', fill=$white) no-repeat 50% 50% $teal;
            }
        }
    }
    &__title{
        display: block;
        color: $gray-dark;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 700;
    }
    &__meta{
        color: $gray;
        font-size: 12px;
        font-weight: 400;
    }
}

@import 'document-responsive';
// END document