.document {
    $_ : '.document';
    @media (min-width: 960px){
        margin-bottom: - $grid-gutter-width;
        &__row{
            margin-left: - $grid-gutter-width / 2;
            margin-right: - $grid-gutter-width / 2;
        }
        &__col{
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
            padding-bottom: $grid-gutter-width;
        }
    }
}